Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

update readme
  benchmarks/bench_dgx_spark/README.md
Due: none

fix: make FTensor cleanup tolerate stale VMM mappings
  csrc/ftensor.cpp
Due: addlicense-cpp-like

fix: honor page prealloc env setting
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

reuse vLLM's own source
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix mypy kernel block size fallback
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

Add vLLM NIXL PD smoke compatibility
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/nixl_compat.py
  tests/test_vllm_nixl_compat.py
  tools/run_vllm_nixl_pd_smoke.sh
Due: addlicense-py, mypy-local

update dataset
  benchmarks/bench_dgx_spark/README.md
Due: none

Add CC=1&2
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/launch_guard.sh
  benchmarks/bench_dgx_spark/launch_main.sh
  benchmarks/bench_dgx_spark/results/baseline/c1.json
  benchmarks/bench_dgx_spark/results/baseline/c16.json
  benchmarks/bench_dgx_spark/results/baseline/c2.json
  benchmarks/bench_dgx_spark/results/baseline/c32.json
  benchmarks/bench_dgx_spark/results/baseline/c4.json
  benchmarks/bench_dgx_spark/results/baseline/c8.json
  benchmarks/bench_dgx_spark/results/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results/kvcached/c1.json
  benchmarks/bench_dgx_spark/results/kvcached/c16.json
  benchmarks/bench_dgx_spark/results/kvcached/c2.json
  benchmarks/bench_dgx_spark/results/kvcached/c32.json
  benchmarks/bench_dgx_spark/results/kvcached/c4.json
  benchmarks/bench_dgx_spark/results/kvcached/c8.json
  benchmarks/bench_dgx_spark/results/summary.csv
  benchmarks/bench_dgx_spark/results/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/stop.sh
Due: none

64-Prompt TTFT Sanity Check
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/plot_results.py
  benchmarks/bench_dgx_spark/results/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_np64/baseline/c1.json
  benchmarks/bench_dgx_spark/results_np64/baseline/c2.json
  benchmarks/bench_dgx_spark/results_np64/baseline/c4.json
  benchmarks/bench_dgx_spark/results_np64/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_np64/kvcached/c1.json
  benchmarks/bench_dgx_spark/results_np64/kvcached/c2.json
  benchmarks/bench_dgx_spark/results_np64/kvcached/c4.json
  benchmarks/bench_dgx_spark/results_np64/summary.csv
  benchmarks/bench_dgx_spark/results_np64/ttft_np16_vs_np64.png
  benchmarks/bench_dgx_spark/results_np64/ttft_vs_concurrency.png
Due: addlicense-py, mypy-local

Add gain analysis
  benchmarks/bench_dgx_spark/README.md
Due: none

update gain analysis
  benchmarks/bench_dgx_spark/README.md
Due: none

update
  benchmarks/bench_dgx_spark/results_32k_c16/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_32k_c16/kvcached/c16.json
  benchmarks/bench_dgx_spark/results_32k_c16/kvcached/done.marker
  benchmarks/bench_dgx_spark/results_32k_c16/summary.csv
  benchmarks/bench_dgx_spark/results_32k_c16/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/rixin.md
Due: none

update results
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/bench.sh
  benchmarks/bench_dgx_spark/config.sh
  benchmarks/bench_dgx_spark/plot_results.py
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/baseline/c1.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/baseline/c2.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/baseline/c4.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/baseline/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/baseline/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/kvcached/c1.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/kvcached/c2.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/kvcached/c4.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/kvcached/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/kvcached/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/summary.csv
  benchmarks/bench_dgx_spark/results_gain_12k_c8_tuned/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/run_benchmark.sh
  benchmarks/bench_dgx_spark/workflow_benchmark.py
Due: addlicense-py, mypy-local

update results
  benchmarks/bench_dgx_spark/README.md
Due: none

update results
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m049_g031/baseline/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m049_g031/baseline/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m049_g031/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m049_g031/summary.csv
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m049_g031/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m062_g019/baseline/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m062_g019/baseline/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m062_g019/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m062_g019/summary.csv
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m062_g019/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m065_g019/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m065_g019/kvcached/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m065_g019/kvcached/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m065_g019/summary.csv
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out1k_m065_g019/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out2k_m049_g031/baseline/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out2k_m049_g031/baseline/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out2k_m049_g031/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out2k_m049_g031/kvcached/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out2k_m049_g031/kvcached/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out2k_m049_g031/summary.csv
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out2k_m049_g031/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out500_m049_g031/baseline/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out500_m049_g031/baseline/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out500_m049_g031/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out500_m049_g031/kvcached/c8.json
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out500_m049_g031/kvcached/done.marker
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out500_m049_g031/summary.csv
  benchmarks/bench_dgx_spark/results_gain_12k_c8_out500_m049_g031/ttft_vs_concurrency.png
Due: none

update
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/results_rixin_c32_sharegpt/c32_sharegpt_summary.png
  benchmarks/bench_dgx_spark/results_rixin_exp5_full/latency_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_rixin_exp5_full/throughput_vs_concurrency.png
  benchmarks/bench_dgx_spark/rixin.md
Due: none

update
  benchmarks/bench_dgx_spark/README.md
Due: none

update
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/results_rixin_c32_sharegpt/c32_sharegpt_summary.png
  benchmarks/bench_dgx_spark/results_rixin_exp5_full/latency_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_rixin_exp5_full/throughput_vs_concurrency.png
Due: none

update
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/results_c32_sharegpt/c32_sharegpt_summary.png
  benchmarks/bench_dgx_spark/results_exp5_full/latency_vs_concurrency.png
  benchmarks/bench_dgx_spark/results_exp5_full/throughput_vs_concurrency.png
Due: none

add adopters to README
  README.md
  assets/adopted_by/AMD_Logo.png
  assets/adopted_by/Alibaba_Cloud_Logo.png
  assets/adopted_by/ByteDance_Logo.svg
  assets/adopted_by/Intel_Logo.png
  assets/adopted_by/Red_Hat_Logo.png
  assets/adopted_by/Tencent_Logo.png
Due: none

update the Prism paper's author list
  README.md
Due: none

fix mla ftensor alignment
  kvcached/integration/vllm/interfaces.py
Due: addlicense-py, mypy-local

add logger
  csrc/ftensor.cpp
Due: addlicense-cpp-like

Fix MLA backend ftensor alignment in non-contiguous layout in SGLang
  kvcached/integration/sglang/interfaces.py
  tests/test_alloc_kv_cache_alignment.py
Due: addlicense-py, mypy-local

moved _make_cache_key from a nested staticmethod to a module-level function
  kvcached/integration/vllm/patches.py
  tests/test_make_cache_key.py
Due: addlicense-py, mypy-local

replace with assert
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

fix: harden NixlConnector kvcached patch for vLLM version and backend attrs
  kvcached/integration/vllm/nixl_compat.py
  tests/test_vllm_nixl_compat.py
Due: addlicense-py, mypy-local

fix: support HMA for vLLM OffloadingConnector
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix: satisfy mypy for offloading HMA patch
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

add homepage badge and new adopter logos to README
  README.md
  assets/adopted_by/Adobe_Logo.png
  assets/adopted_by/Google_Logo.webp
  assets/adopted_by/Moreh_Logo.png
  assets/adopted_by/Parasail_Logo.png
  assets/adopted_by/Sony_Logo.png
Due: none

add LinkedIn to adopters
  README.md
  assets/adopted_by/LinkedIn_Logo.svg
Due: none

move LinkedIn logo to after Google in adopters
  README.md
Due: none

unify adopter logo heights to 34px
  README.md
Due: none

feat: support AMD GPUs (ROCm/HIP) via gpu_vmm abstraction
  benchmarks/bench_vmm/Makefile
  benchmarks/bench_vmm/bench_vmm.cpp
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/gpu_utils.hpp
  csrc/inc/gpu_vmm.hpp
  csrc/inc/impl/torch_utils.ipp
  csrc/inc/mem_info_tracker.hpp
  csrc/inc/page.hpp
  csrc/inc/page_allocator.hpp
  csrc/inc/torch_utils.hpp
  csrc/page.cpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  setup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

feat(amd): accept hip device strings in sglang/vllm integration
  benchmarks/bench_vmm/README.md
  benchmarks/bench_vmm/cuda_utils.hpp
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix(amd): default to non-contiguous KV layout on ROCm
  README.md
  kvcached/utils.py
Due: addlicense-py, mypy-local

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
