Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

rename patch
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix bug when enable apc with GPT-OSS
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

Update readme for recent changes
  README.md
Due: none

update version
  README.md
  pyproject.toml
Due: none

add prefix cache part
  README.md
Due: none

add prefix cache part
  README.md
  examples/09_prefix_caching/README.md
Due: none

move prefix cache design into example
  README.md
Due: none

update
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix RadixCache Patch version issue
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

update docker version
  docker/Dockerfile.dev
  docker/Dockerfile.sglang
  docker/Dockerfile.vllm
  docker/README.md
  engine_integration/scripts/setup.sh
Due: none

support MLX PoC
  poc/mlx/DESIGN.md
  poc/mlx/Makefile
  poc/mlx/metal_vmm.c
  poc/mlx/metal_vmm.h
  poc/mlx/metal_vmm_metal.m
  poc/mlx/mlx_vmm.py
  poc/mlx/test_metal_vmm.m
  poc/mlx/test_mlx_vmm.py
  poc/mlx/test_vmm_remap
  poc/mlx/test_vmm_remap.c
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix(vllm): handle KV pool exhaustion without EngineCore assert crash
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

refactor(vllm): dedupe alloc retry path and free partial block allocations
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

Parasail integration: ftensor Storage fix, Dockerfiles, frontend_uds.py
  csrc/ftensor.cpp
  docker/Dockerfile.kvcached-sidecar
  docker/Dockerfile.kvcached-vllm
  frontend_uds.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Edit
  frontend_uds.py
Due: addlicense-py, mypy-local

Port csrc extension to PyTorch stable ABI
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/impl/torch_utils.ipp
  csrc/inc/page.hpp
  csrc/inc/torch_utils.hpp
  csrc/torch_bindings.cpp
  kvcached/__init__.py
  kvcached/vmm_ops.py
  setup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Patch NixlConnector for kvcached PD disaggregation (closes #302)
  experiments/06_test_fix1.sh
  experiments/09_equivalence.sh
  experiments/_compare_layout_dumps.py
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/debug_layout.py
  kvcached/integration/vllm/interfaces.py
Due: addlicense-py, mypy-local

Patch NixlConnector for kvcached PD disaggregation (closes #302)
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/interfaces.py
Due: addlicense-py, mypy-local

reuse KVCacheBlock object
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

Update kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/autopatch.py
Due: addlicense-py, mypy-local

page allocator migrates from python to C++
  .gitignore
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/cuda_utils.hpp
  csrc/inc/mem_info_tracker.hpp
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  csrc/util.cpp
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
  setup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

reuse pool object for null block
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix: honor ENABLE_KVCACHED in autopatch enable check
  README.md
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/vllm/autopatch.py
Due: addlicense-py, mypy-local

fix include error and modify test file
  csrc/torch_bindings.cpp
  tests/test_kvcache_manager.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: restore elastic resize + match shm name + add pybind11 includes
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/kv_cache_manager.py
  tests/test_kvcache_manager.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

bench: add KVCacheManager.alloc/free microbenchmark
  benchmarks/bench_alloc/bench_alloc.py
Due: addlicense-py, mypy-local

fix isort
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

update overhead results
  benchmarks/bench_alloc/bench_result.md
Due: none

test overhead and fix the error
  benchmarks/bench_alloc/bench_result.md
  benchmarks/bench_alloc/run_kvcached_configs.sh
  benchmarks/bench_alloc/run_layout_retest.sh
  benchmarks/bench_alloc/run_sweep.sh
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

update
  benchmarks/bench_alloc/bench_result.md
Due: none

fix
  kvcached/integration/vllm/autopatch.py
Due: addlicense-py, mypy-local

add hbm memory management
  docs/03_kvcache_management_api.md
  kvcached/cli/utils.py
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/api_router.py
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/patches.py
  kvcached/mem_info_tracker.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

api doc for english
  docs/03_kvcache_management_api_en.md
Due: none

debugging
  experiments/.gitignore
  experiments/10_p2p_nccl_debug.sh
  kvcached/integration/vllm/autopatch.py
Due: addlicense-py, mypy-local

Force kvcached autopatch in P2P debug harness
  experiments/10_p2p_nccl_debug.sh
Due: none

Use normal install for P2P debug harness autopatch
  experiments/10_p2p_nccl_debug.sh
Due: none

Add kvcached-disabled P2P baseline mode
  experiments/10_p2p_nccl_debug.sh
Due: none

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
