Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
exclude: '^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.7
  hooks:
  - id: ruff
    args: [--output-format, github, --fix]
  - id: ruff-format
    files: ^(.buildkite)/.*
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies: ['tomli']
    args: ['--toml', 'pyproject.toml']
    exclude: '^(.*vidprom.txt|.*alpaca_en_demo.json|.*\.svg)$'
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
- repo: local
  hooks:
    - id: addlicense-cpp-like
      name: Add SPDX headers (C/C++/CUDA/IPP)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.(c|cc|cpp|h|hpp|cu|cuh|ipp)$'
    - id: addlicense-py
      name: Add SPDX headers (Python)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.py$'
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.3
  hooks:
  - id: clang-format
    exclude: 'csrc/(moe/topk_softmax_kernels.cu|quantization/gguf/(ggml-common.h|dequantize.cuh|vecdotq.cuh|mmq.cuh|mmvq.cuh))|vllm/third_party/.*'
    types_or: [c++, cuda]
    args: [--style=file, --verbose]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.29
  hooks:
  - id: pymarkdown
    exclude: '.*\.inc\.md'
    args: [fix]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.17
  hooks:
    - id: pip-compile
      args: [requirements/test.in, -o, requirements/test.txt, --index-strategy, unsafe-best-match, --torch-backend, cu128]
      files: ^requirements/test\.(in|txt)$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: trailing-whitespace
      # optional: keep Markdown linebreaks (two spaces at EOL)
      args: [--markdown-linebreak-ext=md]
    # - id: end-of-file-fixer  # nice companion to ensure newline at EOF

# Add mypy hooks for both local runs and CI (manual stage)
- repo: local
  hooks:
  - id: mypy-local
    name: Run mypy for local Python installation
    entry: tools/mypy.sh 0 "local"
    language: python
    types: [python]
    pass_filenames: false
    additional_dependencies: &mypy_deps [mypy==1.11.1, types-cachetools, types-setuptools, types-PyYAML, types-requests, pydantic]
    stages: [pre-commit] # Don't run in CI
  - id: mypy-3.9
    name: Run mypy for Python 3.9
    entry: tools/mypy.sh 1 "3.9"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.10
    name: Run mypy for Python 3.10
    entry: tools/mypy.sh 1 "3.10"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.11
    name: Run mypy for Python 3.11
    entry: tools/mypy.sh 1 "3.11"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.12
    name: Run mypy for Python 3.12
    entry: tools/mypy.sh 1 "3.12"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI

Classify GPU CI contract tests as CPU-only
  tests/manifests/cpu.txt
Due: none

Harden engine sync compatibility checks
  .agents/skills/ovg-engine-upstream-sync/references/compatibility-surfaces.md
  .github/workflows/engine-upstream-sync.yml
  docs/ENGINE_UPSTREAM_SYNC.md
  tests/test_check_engine_compat.py
  tests/test_engine_sync_workflow_contract.py
  tests/test_sglang_upstream_contract.py
  tools/check_engine_compat.py
Due: addlicense-py, mypy-local

Make engine sync updates idempotent
  .github/workflows/engine-upstream-sync.yml
  docs/ENGINE_UPSTREAM_SYNC.md
  tests/test_sync_engine_upstream.py
  tools/sync_engine_upstream.py
Due: addlicense-py, mypy-local

Add automated engine upstream synchronization
  .agents/skills/ovg-engine-upstream-sync/SKILL.md
  .agents/skills/ovg-engine-upstream-sync/agents/openai.yaml
  .agents/skills/ovg-engine-upstream-sync/references/compatibility-surfaces.md
  .github/workflows/engine-upstream-sync.yml
  README.md
  docs/ENGINE_UPSTREAM_SYNC.md
  tests/test_check_engine_compat.py
  tests/test_sync_engine_upstream.py
  tools/check_engine_compat.py
  tools/sync_engine_upstream.py
Due: addlicense-py, mypy-local

Fix engine sync CI checks
  .agents/skills/ovg-engine-upstream-sync/SKILL.md
  tests/test_check_engine_compat.py
  tests/test_engine_sync_workflow_contract.py
  tests/test_sglang_upstream_contract.py
  tests/test_sync_engine_upstream.py
  tools/check_engine_compat.py
Due: addlicense-py, mypy-local

Skip unconfigured engine sync targets
  .github/workflows/engine-upstream-sync.yml
  docs/ENGINE_UPSTREAM_SYNC.md
  tests/test_engine_sync_workflow_contract.py
Due: addlicense-py, mypy-local

Fix engine sync actionlint warning
  .github/workflows/engine-upstream-sync.yml
Due: none

Protect repair commits during engine sync
  tests/test_sync_engine_upstream.py
  tools/sync_engine_upstream.py
Due: addlicense-py, mypy-local

Define rebased OVG engine fork workflow
  .github/workflows/engine-upstream-sync.yml
  docs/ENGINE_UPSTREAM_SYNC.md
  tests/test_engine_sync_workflow_contract.py
  tests/test_sync_engine_upstream.py
  tools/sync_engine_upstream.py
Due: addlicense-py, mypy-local

Classify engine sync tests as CPU-only
  tests/manifests/cpu.txt
Due: none

Add manual model compatibility matrix
  .github/workflows/model-compatibility.yml
  docs/GPU_CI_RUNNER.md
  tests/test_engine_smoke_contract.py
  tests/test_gpu_ci_contract.py
  tests/test_model_compatibility_matrix.py
  tests/test_model_compatibility_workflow_contract.py
  tools/model_compatibility_matrix.json
  tools/run_engine_smoke.sh
  tools/run_gpu_ci.sh
  tools/run_model_compatibility_matrix.py
Due: addlicense-py, mypy-local

Classify model matrix tests as CPU-only
  tests/manifests/cpu.txt
Due: none

Support older PyTorch extension path API
  setup.py
Due: addlicense-py, mypy-local

Launch engine smoke tests outside source checkout
  tests/test_engine_smoke_contract.py
  tools/run_engine_smoke.sh
Due: addlicense-py, mypy-local

test: add test_vllm_v2_support.py to cpu manifest
  tests/manifests/cpu.txt
Due: none

test: pin fail-loud behavior when InternalPage.alloc() raises mid-alloc
  tests/test_alloc_rollback.py
Due: addlicense-py, mypy-local

Stabilize SGLang compatibility smoke on H20
  tests/test_engine_smoke_contract.py
  tools/run_engine_smoke.sh
Due: addlicense-py, mypy-local

Make CPU offload campaign editable install reproducible
  tools/run_two_gpu_cpu_offload_campaign.sh
Due: none

docs: mark get_num_inuse_pages approximate, restore clamp rationale
  csrc/inc/page_allocator.hpp
  kvcached/observability.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: remove the data race on PageAllocator page counters (#443)
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/observability.py
  tests/manifests/gpu.txt
  tests/test_observability.py
  tests/test_page_allocator_snapshot.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Add KV cache operation observability
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/kv_cache_manager.py
  kvcached/observability.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

Classify CPU offload tests
  tests/manifests/cpu.txt
Due: none

Preserve lightweight manager compatibility
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

fix(vllm): floor max cached blocks at 1 for sub-block-size budgets
  kvcached/integration/vllm/patches.py
  tests/test_get_max_cached_blocks.py
Due: addlicense-py, mypy-local

test: classify test_get_max_cached_blocks as a CPU test
  tests/manifests/cpu.txt
Due: none

fix(vllm): floor max cached blocks at 1 for sub-block-size budgets (#380)
  kvcached/integration/vllm/patches.py
  tests/manifests/cpu.txt
  tests/test_get_max_cached_blocks.py
Due: addlicense-py, mypy-local

Scope GPU CI jobs to assigned devices
  .github/workflows/gpu-tests.yml
  docs/GPU_CI_RUNNER.md
  tests/test_gpu_ci_contract.py
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

Link CUDA extensions against toolkit stubs
  setup.py
Due: addlicense-py, mypy-local

Fix GPU CI pre-commit checks
  .github/actionlint.yaml
  setup.py
  tests/test_engine_smoke_contract.py
  tests/test_gpu_ci_bootstrap_contract.py
  tests/test_gpu_ci_contract.py
Due: addlicense-py, mypy-local

Re-enable GPU resize regression test
  tests/test_kvcache_manager.py
Due: addlicense-py, mypy-local

Complete portable GPU CI runner provisioning
  .github/workflows/gpu-tests.yml
  README.md
  docs/GPU_CI_DELIVERY.md
  docs/GPU_CI_RUNNER.md
  tests/test_gpu_ci_bootstrap_contract.py
  tests/test_gpu_ci_contract.py
  tools/bootstrap_gpu_ci_envs.sh
  tools/run_engine_smoke.sh
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

Harden engine smoke lifecycle checks
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  tests/test_engine_smoke_contract.py
  tools/check_engine_activation.py
  tools/run_engine_smoke.sh
Due: addlicense-py, mypy-local

Add self-hosted GPU CI profiles
  .github/workflows/gpu-tests.yml
  README.md
  docs/GPU_CI_RUNNER.md
  pyproject.toml
  setup.py
  tests/test_engine_smoke_contract.py
  tests/test_gpu_ci_contract.py
  tests/test_paged_allocator_aliasing.py
  tools/run_engine_smoke.sh
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

ci: drive the GPU profile from tests/manifests/gpu.txt
  tests/manifests/gpu.txt
  tests/manifests/integration.txt
  tools/run_gpu_ci.sh
Due: none

ci(gpu): move the run plan into a script and cover it with tests
  .github/workflows/gpu-tests.yml
  tests/manifests/cpu.txt
  tests/test_gpu_ci_plan.py
  tools/resolve_gpu_ci_plan.sh
Due: addlicense-py, mypy-local

ci(gpu): add an all profile and spend the scheduled slot every five merges
  .github/workflows/gpu-tests.yml
  tests/test_gpu_ci_contract.py
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

test: classify the prealloc/GIL deadlock regression as a GPU test
  tests/manifests/gpu.txt
  tests/manifests/integration.txt
Due: none

ci(gpu): select the profile by pull request label, drop the main push trigger
  .github/workflows/gpu-tests.yml
Due: none

ci(gpu): check out the repository in the plan job on every event
  .github/workflows/gpu-tests.yml
  tests/test_gpu_ci_plan.py
Due: addlicense-py, mypy-local
