Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

update readme in examples
  examples/08_hybrid_attention_models/README.md
Due: none

Update kvcached/integration/sglang/patches.py
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

update bench_vmm to support amd gpus
  benchmarks/bench_vmm/Makefile
  benchmarks/bench_vmm/README.md
  benchmarks/bench_vmm/bench_vmm.cpp
  benchmarks/bench_vmm/cuda_utils.hpp
Due: addlicense-cpp-like

fix precommit
  benchmarks/bench_vmm/bench_vmm.cpp
Due: addlicense-cpp-like

udpate readme
  README.md
Due: none

update readme
  README.md
Due: none

Revise updates section and improve formatting
  README.md
Due: none

support PP on vLLM
  benchmarks/simple_bench/start_client.sh
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

change the test file
  tests/test_kvcache_manager.py
Due: addlicense-py, mypy-local

feat: support Prefix Cache for vLLM.
  benchmarks/bench_prefix_cache/README.md
  benchmarks/bench_prefix_cache/results/.gitkeep
  benchmarks/bench_prefix_cache/results/eviction_test_results_fixed_2026-02-24.md
  benchmarks/bench_prefix_cache/results/test_results_2026-02-24.md
  benchmarks/bench_prefix_cache/run_advanced_tests.sh
  benchmarks/bench_prefix_cache/run_test.sh
  benchmarks/bench_prefix_cache/start_server_small_cache.sh
  benchmarks/bench_prefix_cache/test_eviction.py
  benchmarks/bench_prefix_cache/test_high_speedup.py
  benchmarks/bench_prefix_cache/test_prefix_cache.py
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/prefix_cache_manager.py
  kvcached/utils.py
Due: addlicense-py, mypy-local

feat: support Prefix Cache for vLLM
  benchmarks/bench_prefix_cache/.gitignore
  benchmarks/bench_prefix_cache/results/eviction_test_results_fixed_2026-02-24.md
  benchmarks/bench_prefix_cache/results/test_results_2026-02-24.md
Due: none

support pp on sgl
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/vllm/interfaces.py
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

feat: support Prefix Cache for vLLM
  benchmarks/bench_prefix_cache/README.md
  benchmarks/bench_prefix_cache/run_advanced_tests.sh
  benchmarks/bench_prefix_cache/run_test.sh
  benchmarks/bench_prefix_cache/test_eviction.py
  benchmarks/bench_prefix_cache/test_high_speedup.py
  benchmarks/bench_prefix_cache/test_prefix_cache.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/prefix_cache_manager.py
Due: addlicense-py, mypy-local

feat: support Prefix Cache for vLLM
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

Fix chat template warmup issue
  README.md
  examples/01_simple_two_models/README.md
  examples/03_model_router_sleep/README.md
  examples/05_multi_agents/README.md
  examples/07_inference_and_diffusion/README.md
Due: none

Fix commentary and improve exception handling
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

roughly support for prefix cache on SGLang
  README.md
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

update the launch script
  engine_integration/scripts/setup.sh
Due: none

update vllm wheel file name
  engine_integration/scripts/setup.sh
Due: none

update kvcached version to 0.1.4
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

update latest sglang version
  README.md
  engine_integration/scripts/setup.sh
Due: none

update vllm version
  README.md
  engine_integration/scripts/setup.sh
  pyproject.toml
Due: none

support Python 3.13
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

benchmark scripts
  benchmarks/bench_latency_benefit/Untitled
  benchmarks/bench_latency_benefit/bench-config-amd-32b-baseline.yaml
  benchmarks/bench_latency_benefit/bench-config-amd-32b.yaml
  benchmarks/bench_latency_benefit/bench-config-amd-7b-3inst-baseline.yaml
  benchmarks/bench_latency_benefit/bench-config-amd-7b-3inst.yaml
  benchmarks/bench_latency_benefit/bench-config-amd-7b-6inst-baseline.yaml
  benchmarks/bench_latency_benefit/bench-config-amd-7b-6inst.yaml
  benchmarks/bench_latency_benefit/bench-config-amd-baseline.yaml
  benchmarks/bench_latency_benefit/bench-config-amd.yaml
  benchmarks/bench_latency_benefit/bench_kvcached_vllm.py
  benchmarks/bench_latency_benefit/bench_sleep_wake.py
  benchmarks/bench_latency_benefit/record_kvmem.py
  benchmarks/bench_latency_benefit/record_rocm_mem.py
  benchmarks/bench_latency_benefit/run_benchmark.sh
  benchmarks/bench_latency_benefit/run_full_experiment_32b.sh
  benchmarks/bench_latency_benefit/run_sweep_32b.sh
  benchmarks/bench_latency_benefit/run_sweep_7b.sh
  benchmarks/bench_latency_benefit/run_sweep_staggered_7b.sh
  benchmarks/simple_bench/start_server.sh
  controller/launch.py
Due: addlicense-py, mypy-local

fix world_size conflicts, support tp+pp
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/tp_ipc_util.py
Due: addlicense-py, mypy-local

Support pp for sgl
  benchmarks/simple_bench/start_client.sh
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/sglang/interfaces.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

feat: support vllm-0.14.0
  benchmarks/bench_latency_benefit/bench_kvcached_vllm.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

Feat: add pipeline parallel for vllm 0.14.0
  benchmarks/simple_bench/start_client.sh
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

fix: pre-commit issue
  benchmarks/bench_latency_benefit/bench_kvcached_vllm.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix: make scripts executable
  tools/addlicense.sh
  tools/mypy.sh
Due: none

fix: convert shell scripts to LF
  .gitattributes
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  tools/addlicense.sh
  tools/mypy.sh
Due: addlicense-py, mypy-local

update docker file to support latest engine version
  docker/Dockerfile.dev
  docker/Dockerfile.sglang
  docker/Dockerfile.vllm
Due: none

update dockerfile
  docker/Dockerfile.sglang
  docker/Dockerfile.vllm
Due: none

Added experiment script for uniform staggered workload and baseline config yaml
  benchmarks/bench_latency_benefit/bench-config-amd-7b-6inst-baseline.yaml
  benchmarks/bench_latency_benefit/run_sweep_staggered_7b.sh
Due: none

Removed limit on aiohttp connections
  benchmarks/bench_latency_benefit/bench_kvcached_vllm.py
Due: addlicense-py, mypy-local

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
