Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

fix: coordinate distributed physical KV mapping outcomes
  csrc/allocator.cpp
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/tp_ipc_util.py
  tests/manifests/cpu.txt
  tests/test_alloc_rollback.py
  tests/test_kvcache_manager_post_init.py
  tests/test_observability.py
  tests/test_sglang_allocator_patch.py
  tests/test_tp_ipc_atomic_map.py
  tests/test_tp_ipc_growth_transaction.py
  tests/test_tp_ipc_pp_fanout.py
  tests/test_tp_ipc_unmap_sync.py
  tests/test_tp_ipc_worker_failures.py
  tests/test_tp_listener_device.py
  tests/test_vllm_pool_exhaustion.py
  tests/test_vmm_transaction.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

feat: allocate physical KV pages in request-sized batches
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/kv_cache_manager.py
  tests/test_alloc_rollback.py
  tests/test_prealloc_gil_deadlock.py
  tests/test_vmm_transaction.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

perf: coalesce physical growth retries and notify capacity release
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/observability.py
  kvcached/tp_ipc_util.py
  tests/test_alloc_rollback.py
  tests/test_memory_limit_control.py
  tests/test_observability.py
  tests/test_tp_ipc_growth_transaction.py
  tests/test_vllm_async_unmap_ordering.py
Due: addlicense-py, mypy-local

address review: revalidate manager-first order, check num_layers/num_kv_buffers
  kvcached/integration/vllm/interfaces.py
  tests/test_vllm_ftensor_capacity_guard.py
Due: addlicense-py, mypy-local

fix(vllm): refuse KVCacheManager capacity beyond the created KV tensors
  kvcached/integration/vllm/interfaces.py
  tests/manifests/cpu.txt
  tests/test_vllm_ftensor_capacity_guard.py
Due: addlicense-py, mypy-local

fix: tighten capability record semantics from review
  kvcached/observability.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

feat: add capability discovery to the observability contract
  kvcached/observability.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

test: tie reported attention types to the shim guards
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

feat: add poll-only lifecycle readiness and failure propagation
  kvcached/kv_cache_manager.py
  kvcached/lifecycle.py
  kvcached/observability.py
  tests/manifests/cpu.txt
  tests/test_kvcache_manager_post_init.py
  tests/test_lifecycle_readiness.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

docs(controller): explain why keep sleep mode is excluded
  controller/sleep_manager.py
Due: addlicense-py, mypy-local

test: stub worker device resolution in capability checks
  tests/test_observability.py
Due: addlicense-py, mypy-local

fix: avoid retaining failed pools through native lifecycle callbacks
  kvcached/kv_cache_manager.py
  tests/manifests/gpu.txt
  tests/test_lifecycle_readiness.py
  tests/test_lifecycle_readiness_native.py
Due: addlicense-py, mypy-local

feat(vllm): support the v0.29 Model Runner V2
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/block_pool_v29.py
  kvcached/integration/vllm/model_runner_v2.py
  kvcached/integration/vllm/patches.py
  tests/manifests/integration.txt
  tests/test_vllm_block_pool_v29.py
  tests/test_vllm_model_runner_v2.py
  tests/test_vllm_virtual_kv_capacity.py
Due: addlicense-py, mypy-local

refactor(vllm): name native cache adapters by responsibility
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/native_block_pool.py
  kvcached/integration/vllm/patches.py
  tests/manifests/integration.txt
  tests/test_vllm_native_block_pool.py
Due: addlicense-py, mypy-local

fix(vllm): reject unsupported MRV2 configurations
  kvcached/integration/vllm/model_runner_v2.py
  kvcached/integration/vllm/patches.py
  tests/manifests/cpu.txt
  tests/test_vllm_model_runner_v2.py
  tests/test_vllm_native_block_lifetimes.py
  tests/test_vllm_native_block_pool.py
  tests/test_vllm_tp_world_size.py
Due: addlicense-py, mypy-local

fix: make KV tensor VMM batches transactional
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/page.hpp
  csrc/inc/page_allocator.hpp
  csrc/inc/transaction_error.hpp
  csrc/page.cpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/control.py
  kvcached/errors.py
  kvcached/kv_cache_manager.py
  kvcached/tp_ipc_util.py
  tests/manifests/cpu.txt
  tests/manifests/gpu.txt
  tests/native/vmm_faults.cpp
  tests/test_alloc_rollback.py
  tests/test_memory_limit_control.py
  tests/test_tp_ipc_atomic_map.py
  tests/test_tp_ipc_pp_fanout.py
  tests/test_tp_ipc_worker_failures.py
  tests/test_vllm_pp_fanout.py
  tests/test_vmm_failure_policy.py
  tests/test_vmm_transaction.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: preserve vLLM profiling state for warmup
  kvcached/integration/vllm/patches.py
  tests/test_vllm_virtual_kv_capacity.py
Due: addlicense-py, mypy-local

Fix non-weakreferable adapter compatibility
  kvcached/observability.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

feat(vllm): support packed attention KV storage
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/manifests/gpu.txt
  tests/test_kv_cache_shape_compat.py
  tests/test_vllm_packed_kv.py
Due: addlicense-py, mypy-local

Fix snapshot history lifecycle fallback
  kvcached/observability.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

Updated document for history weakref requirement
  kvcached/observability.py
Due: addlicense-py, mypy-local

feat(vllm): integrate attention KV storage with Model Runner V2
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/model_runner_v2.py
  kvcached/integration/vllm/patches.py
  tests/manifests/cpu.txt
  tests/test_vllm_model_runner_v2.py
Due: addlicense-py, mypy-local

feat(controller): make vLLM sleep mode configurable (#486)
  controller/README.md
  controller/example-config.yaml
  controller/frontend.py
  controller/sleep_manager.py
  tests/test_sleep_manager.py
Due: addlicense-py, mypy-local

tools: add bounded engine compatibility repair runner
  docs/ENGINE_COMPAT_REPAIR.md
  tests/manifests/cpu.txt
  tests/test_engine_compat_repair.py
  tools/repair_engine_compat.py
Due: addlicense-py, mypy-local

fix(controller): serialize model sleep and wake operations in concurrent scenario(#484)
  controller/sleep_manager.py
  tests/test_sleep_manager.py
Due: addlicense-py, mypy-local

feat: validate vLLM releases with bounded CPU and GPU repair jobs
  .github/actionlint.yaml
  .github/engine-compat/vllm-allow.json
  .github/workflows/engine-compat-attempt.yml
  .github/workflows/engine-compat-ci.yml
  .github/workflows/vllm-release-compat.yml
  docs/VLLM_RELEASE_COMPAT.md
  tests/manifests/cpu.txt
  tests/test_engine_compat_artifact.py
  tests/test_engine_compat_gpu_probe.py
  tests/test_engine_compat_publication.py
  tests/test_engine_compat_repair.py
  tests/test_engine_compat_workflow.py
  tests/test_engine_release_discovery.py
  tools/engine_compat_artifact.py
  tools/engine_compat_gpu.sh
  tools/engine_compat_gpu_probe.py
  tools/engine_compat_stage.py
  tools/engine_release_discovery.py
  tools/repair_engine_compat.py
Due: addlicense-py, mypy-local

fix(vllm): unlink the /dev/shm segment when EngineCore shuts down
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  tests/manifests/cpu.txt
  tests/test_observability.py
  tests/test_vllm_engine_core_shutdown.py
Due: addlicense-py, mypy-local

fix: restore KV pool growth when resetting the startup quota
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  tests/manifests/gpu.txt
  tests/test_page_allocator_resize.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: restore KV pool growth when resetting the startup quota (#499)
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  tests/manifests/gpu.txt
  tests/test_page_allocator_resize.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix(vllm): bind V1 hybrid Mamba pages on 0.28
  kvcached/integration/vllm/patches.py
  tests/manifests/cpu.txt
  tests/test_prefix_cache.py
  tests/test_vllm_mamba_page_binding.py
Due: addlicense-py, mypy-local

add test
  tests/test_sglang_mamba_slot_allocator.py
Due: addlicense-py, mypy-local

fix(vllm): remove the segment from MPClient.shutdown too
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/patches.py
  kvcached/utils.py
  tests/test_vllm_engine_core_shutdown.py
Due: addlicense-py, mypy-local

build: build the XPU runtime standalone for bench_vmm
  benchmarks/bench_vmm/Makefile
  benchmarks/bench_vmm/xpu_runtime_standalone.cpp
Due: addlicense-cpp-like

feat: add Intel XPU (Level Zero) backend for VMM and FTensor
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/device_utils.hpp
  csrc/inc/gpu_vmm.hpp
  csrc/inc/xpu_runtime.hpp
  csrc/xpu_runtime.cpp
  kvcached/utils.py
  setup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

test: stop the sys.modules leaks that make runs order-dependent
  tests/test_page_aware_eviction.py
  tests/test_prefix_cache.py
  tests/test_resize_reserved_order.py
  tests/test_vllm_pool_exhaustion.py
  tests/test_vllm_tp_world_size.py
  tests/test_vllm_virtual_kv_capacity.py
Due: addlicense-py, mypy-local

fix(xpu): leave reservations unbacked where one page cannot be shared
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/constants.hpp
  csrc/inc/device_utils.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/gpu_vmm.hpp
  csrc/page.cpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  csrc/xpu_runtime.cpp
  tests/manifests/gpu.txt
  tests/test_ElasticMLAMemoryPool.py
  tests/test_paged_allocator_aliasing.py
  tests/test_xpu_ftensor.py
  tests/test_xpu_multi_device.py
  tests/test_xpu_shared_page_limitation.py
  tests/test_xpu_vmm_lifecycle.py
  tests/test_xpu_vmm_stress.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

refactor: let backend detection take the device it is asked about
  benchmarks/bench_alloc/bench_alloc.py
  benchmarks/bench_frag/bench_evict.py
  benchmarks/bench_frag/bench_frag.py
  benchmarks/bench_map_parallelism/kvcached_map_parallel_benchmark.py
  benchmarks/bench_tp_ipc/kvcached_tp_ipc_benchmark.py
  kvcached/cli/kvctl.py
  kvcached/cli/kvtop.py
  kvcached/cli/utils.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/tp_ipc_util.py
  kvcached/utils.py
  setup.py
  tests/manifests/README.md
  tests/manifests/cpu.txt
  tests/test_alloc_kv_cache_alignment.py
  tests/test_hybrid_contiguous_layout.py
  tests/test_observability.py
  tests/test_tp_listener_device.py
  tests/test_vllm_virtual_kv_capacity.py
  tests/test_xpu_device_detection.py
  tests/test_xpu_layout_default.py
Due: addlicense-py, mypy-local

test: make vLLM modules accelerator-aware and re-runnable
  tests/test_elastic_serving.py
  tests/test_kvcache_manager.py
  tests/test_offline_serving.py
  tests/test_page_allocator_resize.py
  tests/test_page_allocator_snapshot.py
  tests/test_prealloc_gil_deadlock.py
Due: addlicense-py, mypy-local

fix: make KV tensor VMM batches transactional
  benchmarks/bench_tp_ipc/UNMAP.md
  benchmarks/bench_tp_ipc/benchmark_unmap_transaction.py
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/page.hpp
  csrc/inc/page_allocator.hpp
  csrc/inc/transaction_error.hpp
  csrc/page.cpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/control.py
  kvcached/errors.py
  kvcached/kv_cache_manager.py
  kvcached/tp_ipc_util.py
  tests/manifests/cpu.txt
  tests/manifests/gpu.txt
  tests/native/vmm_faults.cpp
  tests/test_alloc_rollback.py
  tests/test_memory_limit_control.py
  tests/test_tp_ipc_atomic_map.py
  tests/test_tp_ipc_pp_fanout.py
  tests/test_tp_ipc_worker_failures.py
  tests/test_vllm_pp_fanout.py
  tests/test_vmm_failure_policy.py
  tests/test_vmm_transaction.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: reject ambiguous worker device indices
  kvcached/integration/vllm/patches.py
  kvcached/tp_ipc_util.py
  tests/test_tp_listener_device.py
  tests/test_vllm_tp_world_size.py
Due: addlicense-py, mypy-local

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
