Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
exclude: '^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.7
  hooks:
  - id: ruff
    args: [--output-format, github, --fix]
  - id: ruff-format
    files: ^(.buildkite)/.*
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies: ['tomli']
    args: ['--toml', 'pyproject.toml']
    exclude: '^(.*vidprom.txt|.*alpaca_en_demo.json|.*\.svg)$'
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
- repo: local
  hooks:
    - id: addlicense-cpp-like
      name: Add SPDX headers (C/C++/CUDA/IPP)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.(c|cc|cpp|h|hpp|cu|cuh|ipp)$'
    - id: addlicense-py
      name: Add SPDX headers (Python)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.py$'
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.3
  hooks:
  - id: clang-format
    exclude: 'csrc/(moe/topk_softmax_kernels.cu|quantization/gguf/(ggml-common.h|dequantize.cuh|vecdotq.cuh|mmq.cuh|mmvq.cuh))|vllm/third_party/.*'
    types_or: [c++, cuda]
    args: [--style=file, --verbose]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.29
  hooks:
  - id: pymarkdown
    exclude: '.*\.inc\.md'
    args: [fix]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.17
  hooks:
    - id: pip-compile
      args: [requirements/test.in, -o, requirements/test.txt, --index-strategy, unsafe-best-match, --torch-backend, cu128]
      files: ^requirements/test\.(in|txt)$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: trailing-whitespace
      # optional: keep Markdown linebreaks (two spaces at EOL)
      args: [--markdown-linebreak-ext=md]
    # - id: end-of-file-fixer  # nice companion to ensure newline at EOF

# Add mypy hooks for both local runs and CI (manual stage)
- repo: local
  hooks:
  - id: mypy-local
    name: Run mypy for local Python installation
    entry: tools/mypy.sh 0 "local"
    language: python
    types: [python]
    pass_filenames: false
    additional_dependencies: &mypy_deps [mypy==1.11.1, types-cachetools, types-setuptools, types-PyYAML, types-requests, pydantic]
    stages: [pre-commit] # Don't run in CI
  - id: mypy-3.9
    name: Run mypy for Python 3.9
    entry: tools/mypy.sh 1 "3.9"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.10
    name: Run mypy for Python 3.10
    entry: tools/mypy.sh 1 "3.10"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.11
    name: Run mypy for Python 3.11
    entry: tools/mypy.sh 1 "3.11"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.12
    name: Run mypy for Python 3.12
    entry: tools/mypy.sh 1 "3.12"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI

fix: avoid retaining failed pools through native lifecycle callbacks
  kvcached/kv_cache_manager.py
  tests/manifests/gpu.txt
  tests/test_lifecycle_readiness.py
  tests/test_lifecycle_readiness_native.py
Due: addlicense-py, mypy-local

feat: add poll-only lifecycle readiness and failure propagation
  kvcached/kv_cache_manager.py
  kvcached/lifecycle.py
  kvcached/observability.py
  tests/manifests/cpu.txt
  tests/test_kvcache_manager_post_init.py
  tests/test_lifecycle_readiness.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

fix: classify #418 StateConsistencyError as FAILED in the lifecycle
  kvcached/kv_cache_manager.py
  kvcached/lifecycle.py
  tests/test_alloc_rollback.py
  tests/test_lifecycle_readiness.py
  tests/test_vmm_failure_policy.py
Due: addlicense-py, mypy-local

fix: remove TP worker socket dirs on shutdown and in kvctl delete
  kvcached/cli/kvctl.py
  kvcached/cli/utils.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/tp_ipc_util.py
  kvcached/utils.py
  tests/manifests/cpu.txt
  tests/test_observability.py
  tests/test_tp_socket_cleanup.py
Due: addlicense-py, mypy-local

fix: drain in-flight TP IPC handlers before listener stop returns
  kvcached/tp_ipc_util.py
  tests/test_tp_socket_cleanup.py
Due: addlicense-py, mypy-local

fix: retain KV resources until worker listeners drain
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/tp_ipc_util.py
  tests/test_observability.py
  tests/test_tp_socket_cleanup.py
Due: addlicense-py, mypy-local

test: stub stop_worker_listener_threads in the shim-guards test too
  tests/test_observability.py
Due: addlicense-py, mypy-local

test: narrow the optional lifecycle error before reading its traceback
  tests/test_lifecycle_readiness.py
Due: addlicense-py, mypy-local

fix: only the engine-owning client unlinks the segment on shutdown
  kvcached/integration/vllm/patches.py
  tests/test_vllm_engine_core_shutdown.py
Due: addlicense-py, mypy-local

test: cover cross-layer KV binding through patched reshape
  tests/test_shared_kv_layer_binding.py
Due: addlicense-py, mypy-local

docs: explain revisioned memory limit integration
  README.md
  examples/02_memory_control/README.md
Due: none

fix: unlink the segment from the supervisor's engine manager shutdown
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/patches.py
  tests/test_vllm_engine_core_shutdown.py
Due: addlicense-py, mypy-local

fix: record the native fatal verdict at the manager boundary
  kvcached/kv_cache_manager.py
  kvcached/lifecycle.py
  tests/test_lifecycle_readiness.py
Due: addlicense-py, mypy-local

test: dispose of a FAILED pool in the native lifetime test
  tests/test_lifecycle_readiness_native.py
Due: addlicense-py, mypy-local

perf: cache `get_avail_physical_pages` in available_size to skip low-level per-alloc cudaMemGetInfo (#456)
  kvcached/kv_cache_manager.py
  tests/manifests/cpu.txt
  tests/test_available_size_cache.py
Due: addlicense-py, mypy-local

fix: preserve shared segments until owned engines have exited
  kvcached/integration/vllm/patches.py
  tests/test_vllm_engine_core_shutdown.py
Due: addlicense-py, mypy-local

fix: preserve replacement IPC segments on native teardown
  csrc/inc/mem_info_tracker.hpp
  tests/manifests/gpu.txt
  tests/test_native_shm_cleanup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: stop pool initialization before shutdown cleanup
  kvcached/kv_cache_manager.py
  tests/test_kvcache_manager_post_init.py
  tests/test_native_shm_cleanup.py
  tests/test_vllm_engine_core_shutdown.py
  tests/test_vllm_virtual_kv_capacity.py
Due: addlicense-py, mypy-local

fix: retain shared segment ownership before engine teardown
  csrc/inc/mem_info_tracker.hpp
  csrc/inc/page_allocator.hpp
  csrc/torch_bindings.cpp
  docs/SHARED_SEGMENT_LIFECYCLE_TESTING.md
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/utils.py
  tests/native/shm_cleanup_faults.cpp
  tests/test_native_shm_cleanup.py
  tests/test_vllm_engine_core_shutdown.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix sgl 0516 start crash
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/patches.py
  tests/manifests/cpu.txt
  tests/test_sglang_allocator_patch.py
  tests/test_sglang_autopatch_order.py
  tests/test_sglang_memory_pool_patch.py
  tests/test_sglang_virtual_kv_capacity.py
Due: addlicense-py, mypy-local

build: define TORCH_STABLE_ONLY explicitly to enforce stable ABI (#505)
  csrc/torch_bindings.cpp
  setup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: remove TP worker socket dirs on shutdown and in kvctl delete (#480)
  kvcached/cli/kvctl.py
  kvcached/cli/utils.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/tp_ipc_util.py
  kvcached/utils.py
  tests/manifests/cpu.txt
  tests/test_observability.py
  tests/test_tp_socket_cleanup.py
Due: addlicense-py, mypy-local

Add KV cache operation observability
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/kv_cache_manager.py
  kvcached/observability.py
  tests/test_alloc_rollback.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

feat(sglang): export kvcached metrics through native endpoint
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/metrics.py
  kvcached/integration/sglang/patches.py
  tests/manifests/cpu.txt
  tests/test_sglang_metrics.py
Due: addlicense-py, mypy-local

tools: add bounded engine compatibility repair runner
  docs/ENGINE_COMPAT_REPAIR.md
  tests/manifests/cpu.txt
  tests/test_engine_compat_repair.py
  tools/repair_engine_compat.py
Due: addlicense-py, mypy-local

feat: add Intel XPU (Level Zero) backend for VMM and FTensor
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/device_utils.hpp
  csrc/inc/gpu_vmm.hpp
  csrc/inc/xpu_runtime.hpp
  csrc/xpu_runtime.cpp
  kvcached/utils.py
  setup.py
  tests/test_stable_abi.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

test: stop the sys.modules leaks that make runs order-dependent
  tests/test_page_aware_eviction.py
  tests/test_prefix_cache.py
  tests/test_resize_reserved_order.py
  tests/test_vllm_pool_exhaustion.py
  tests/test_vllm_tp_world_size.py
  tests/test_vllm_virtual_kv_capacity.py
  tests/test_vmm_failure_policy.py
Due: addlicense-py, mypy-local

build: build the XPU runtime standalone for bench_vmm
  benchmarks/bench_vmm/Makefile
  benchmarks/bench_vmm/xpu_runtime_standalone.cpp
Due: addlicense-cpp-like

fix(xpu): leave reservations unbacked where one page cannot be shared
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/constants.hpp
  csrc/inc/device_utils.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/gpu_vmm.hpp
  csrc/page.cpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  csrc/xpu_runtime.cpp
  kvcached/vmm_ops.py
  tests/manifests/gpu.txt
  tests/test_ElasticMLAMemoryPool.py
  tests/test_paged_allocator_aliasing.py
  tests/test_xpu_ftensor.py
  tests/test_xpu_multi_device.py
  tests/test_xpu_shared_page_limitation.py
  tests/test_xpu_vmm_lifecycle.py
  tests/test_xpu_vmm_stress.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

refactor: let backend detection take the device it is asked about
  benchmarks/bench_alloc/bench_alloc.py
  benchmarks/bench_frag/bench_evict.py
  benchmarks/bench_frag/bench_frag.py
  benchmarks/bench_map_parallelism/kvcached_map_parallel_benchmark.py
  benchmarks/bench_tp_ipc/kvcached_tp_ipc_benchmark.py
  kvcached/cli/kvctl.py
  kvcached/cli/kvtop.py
  kvcached/cli/utils.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/tp_ipc_util.py
  kvcached/utils.py
  setup.py
  tests/manifests/README.md
  tests/manifests/cpu.txt
  tests/test_alloc_kv_cache_alignment.py
  tests/test_hybrid_contiguous_layout.py
  tests/test_observability.py
  tests/test_tp_ipc_worker_failures.py
  tests/test_tp_listener_device.py
  tests/test_vllm_virtual_kv_capacity.py
  tests/test_xpu_device_detection.py
  tests/test_xpu_layout_default.py
Due: addlicense-py, mypy-local

test: make vLLM modules accelerator-aware and re-runnable
  tests/test_elastic_serving.py
  tests/test_kvcache_manager.py
  tests/test_offline_serving.py
  tests/test_page_allocator_resize.py
  tests/test_page_allocator_snapshot.py
  tests/test_prealloc_gil_deadlock.py
  tests/test_vmm_transaction.py
Due: addlicense-py, mypy-local

fix(xpu): keep a page range usable after a map fails part-way
  csrc/inc/gpu_vmm.hpp
  csrc/page.cpp
  tests/manifests/gpu.txt
  tests/native/xpu_vmm_faults.cpp
  tests/test_xpu_map_cleanup_failure.py
  tests/test_xpu_map_failure_recovery.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix(sglang): follow SGLang's allocator moves so the pools still patch
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

test: drive KV elasticity through SGLang on XPU
  tests/manifests/integration.txt
  tests/test_elastic_serving.py
  tests/test_elastic_serving_sglang.py
Due: addlicense-py, mypy-local

fix(vllm): defer physical unmap until async batches complete
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  tests/manifests/cpu.txt
  tests/manifests/integration.txt
  tests/test_kvcache_manager_retired_pages.py
  tests/test_observability.py
  tests/test_tp_ipc_unmap_sync.py
  tests/test_vllm_async_unmap_ordering.py
  tests/test_vllm_native_queue_unmap.py
Due: addlicense-py, mypy-local

feat: validate vLLM releases with bounded CPU and GPU repair jobs
  .github/actionlint.yaml
  .github/engine-compat/allocation-allow.json
  .github/engine-compat/allocation.json
  .github/engine-compat/native-layout-allow.json
  .github/engine-compat/native-layout.json
  .github/engine-compat/vllm-allow.json
  .github/engine-compat/vllm.json
  .github/workflows/engine-compat-attempt.yml
  .github/workflows/engine-compat-ci.yml
  .github/workflows/vllm-release-compat.yml
  docs/VLLM_RELEASE_COMPAT.md
  tests/manifests/cpu.txt
  tests/test_engine_compat_artifact.py
  tests/test_engine_compat_gpu_probe.py
  tests/test_engine_compat_profile.py
  tests/test_engine_compat_publication.py
  tests/test_engine_compat_repair.py
  tests/test_engine_compat_workflow.py
  tests/test_engine_release_discovery.py
  tests/test_vllm_native_block_lifetimes.py
  tools/engine_compat_artifact.py
  tools/engine_compat_gpu.sh
  tools/engine_compat_gpu_probe.py
  tools/engine_compat_profile.py
  tools/engine_compat_stage.py
  tools/engine_release_discovery.py
  tools/repair_engine_compat.py
Due: addlicense-py, mypy-local

fix: keep a failed pool queryable through observability snapshots
  kvcached/observability.py
  tests/test_lifecycle_readiness.py
  tests/test_observability.py
Due: addlicense-py, mypy-local

test: sample the traceback baseline after the init thread finishes
  tests/test_lifecycle_readiness.py
Due: addlicense-py, mypy-local

ci: separate validation-only compatibility tasks
  .github/engine-compat/attention-v1-028-allow.json
  .github/engine-compat/attention-v1-028.json
  .github/engine-compat/attention-v2-028-allow.json
  .github/engine-compat/attention-v2-028.json
  .github/workflows/engine-compat-attempt.yml
  .github/workflows/vllm-release-compat.yml
  docs/VLLM_RELEASE_COMPAT.md
  tests/test_engine_compat_gpu_probe.py
  tests/test_engine_compat_profile.py
  tests/test_engine_compat_workflow.py
  tests/test_engine_release_discovery.py
  tools/engine_compat_gpu.sh
  tools/engine_compat_gpu_probe.py
  tools/engine_compat_profile.py
  tools/engine_compat_stage.py
  tools/engine_release_discovery.py
Due: addlicense-py, mypy-local

fix(vllm): unlink the /dev/shm segment when EngineCore shuts down (#482)
  csrc/inc/mem_info_tracker.hpp
  csrc/inc/page_allocator.hpp
  csrc/torch_bindings.cpp
  docs/SHARED_SEGMENT_LIFECYCLE_TESTING.md
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/utils.py
  tests/manifests/cpu.txt
  tests/manifests/gpu.txt
  tests/native/shm_cleanup_faults.cpp
  tests/test_kvcache_manager_post_init.py
  tests/test_native_shm_cleanup.py
  tests/test_observability.py
  tests/test_vllm_engine_core_shutdown.py
  tests/test_vllm_virtual_kv_capacity.py
Due: addlicense-cpp-like, addlicense-py, mypy-local
