Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
exclude: '^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.7
  hooks:
  - id: ruff
    args: [--output-format, github, --fix]
  - id: ruff-format
    files: ^(.buildkite)/.*
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies: ['tomli']
    args: ['--toml', 'pyproject.toml']
    exclude: '^(.*vidprom.txt|.*alpaca_en_demo.json|.*\.svg)$'
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
- repo: local
  hooks:
    - id: addlicense-cpp-like
      name: Add SPDX headers (C/C++/CUDA/IPP)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.(c|cc|cpp|h|hpp|cu|cuh|ipp)$'
    - id: addlicense-py
      name: Add SPDX headers (Python)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.py$'
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.3
  hooks:
  - id: clang-format
    exclude: 'csrc/(moe/topk_softmax_kernels.cu|quantization/gguf/(ggml-common.h|dequantize.cuh|vecdotq.cuh|mmq.cuh|mmvq.cuh))|vllm/third_party/.*'
    types_or: [c++, cuda]
    args: [--style=file, --verbose]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.29
  hooks:
  - id: pymarkdown
    exclude: '.*\.inc\.md'
    args: [fix]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.17
  hooks:
    - id: pip-compile
      args: [requirements/test.in, -o, requirements/test.txt, --index-strategy, unsafe-best-match, --torch-backend, cu128]
      files: ^requirements/test\.(in|txt)$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: trailing-whitespace
      # optional: keep Markdown linebreaks (two spaces at EOL)
      args: [--markdown-linebreak-ext=md]
    # - id: end-of-file-fixer  # nice companion to ensure newline at EOF

# Add mypy hooks for both local runs and CI (manual stage)
- repo: local
  hooks:
  - id: mypy-local
    name: Run mypy for local Python installation
    entry: tools/mypy.sh 0 "local"
    language: python
    types: [python]
    pass_filenames: false
    additional_dependencies: &mypy_deps [mypy==1.11.1, types-cachetools, types-setuptools, types-PyYAML, types-requests, pydantic]
    stages: [pre-commit] # Don't run in CI
  - id: mypy-3.9
    name: Run mypy for Python 3.9
    entry: tools/mypy.sh 1 "3.9"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.10
    name: Run mypy for Python 3.10
    entry: tools/mypy.sh 1 "3.10"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.11
    name: Run mypy for Python 3.11
    entry: tools/mypy.sh 1 "3.11"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.12
    name: Run mypy for Python 3.12
    entry: tools/mypy.sh 1 "3.12"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI

feat: account sglang deepseek-v4 reservations
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  tests/test_sglang_dsv4_runtime_reservation_patch.py
  tests/test_sglang_elastic_allocator_patch.py
Due: addlicense-py, mypy-local

Apply pre-commit formatting
  csrc/page_allocator.cpp
Due: addlicense-cpp-like

Fix vLLM Gemma4 support by adding v2 module fallback and patch target fallback
  kvcached/integration/patch_base.py
  kvcached/integration/vllm/nixl_compat.py
  kvcached/integration/vllm/patches.py
  tests/test_vllm_v2_support.py
Due: addlicense-py, mypy-local

fix(ci): mypy type ignores for dynamic KVCacheTensor import, ruff format, and test __spec__ fix
  kvcached/integration/patch_base.py
  kvcached/integration/vllm/nixl_compat.py
  kvcached/integration/vllm/patches.py
  tests/test_vllm_v2_support.py
Due: addlicense-py, mypy-local

fix(ci): resolve mypy attr-defined and valid-type errors in test_vllm_v2_support
  tests/test_vllm_v2_support.py
Due: addlicense-py, mypy-local

fix(ci): add missing SPDX license header to test_vllm_v2_support
  tests/test_vllm_v2_support.py
Due: addlicense-py, mypy-local

fix(vllm): evict prefix-cache blocks by page to release memory (#359)
  benchmarks/bench_frag/README.md
  benchmarks/bench_frag/bench_frag.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  tests/test_page_aware_eviction.py
Due: addlicense-py, mypy-local

bench: measure memory released by prefix-cache eviction
  benchmarks/bench_frag/bench_evict.py
Due: addlicense-py, mypy-local

bench: make eviction benchmark exercise the policy
  benchmarks/bench_frag/bench_evict.py
Due: addlicense-py, mypy-local

fix(vllm): correct page occupancy and eviction victim ordering
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

docs: record measured eviction results
  benchmarks/bench_frag/README.md
Due: none

fix(vllm): preserve hybrid KV pool mapping
  kvcached/integration/vllm/patches.py
  tests/test_vllm_fp8_hybrid_layout.py
Due: addlicense-py, mypy-local

fix(nixl): transfer kvcached KV as split K/V regions on vLLM >=0.23
  kvcached/integration/vllm/nixl_compat.py
  tests/test_vllm_nixl_compat.py
Due: addlicense-py, mypy-local

fix: reset vllm block hash on prefix eviction
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

Fixes missing vLLM KVCacheBlock.block_hash metadata (#363)
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

fix(nixl): transfer kvcached KV as split K/V physical layout on vLLM >=0.23 (#391)
  kvcached/integration/vllm/nixl_compat.py
  tests/test_vllm_nixl_compat.py
Due: addlicense-py, mypy-local

ci: fix integration branch pre-commit checks
  benchmarks/bench_gemma_hetero/README.md
  benchmarks/bench_gemma_hetero/correctness_check.py
Due: addlicense-py, mypy-local

docs(README): bump tested vLLM version to 0.25.1
  README.md
Due: none

feat(vllm): adapt kvcached KV-cache reshape patch to vLLM 0.20
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

feat(vllm): adapt kvcached KV-cache reshape patch up to vLLM 0.25 (#394)
  README.md
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix(vllm): reserve block id 0 as the null block in ElasticBlockPool
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

docs(README): roll back tested vLLM version to 0.24.0
  README.md
Due: none

fix(vllm): reserve block id 0 as the null block in ElasticBlockPool (#398)
  README.md
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

feat(sglang): pool DeepSeek-V4 SWA KV cache
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  tests/test_sglang_dsv4_kv_pool_patch.py
  tests/test_sglang_dsv4_runtime_reservation_patch.py
Due: addlicense-py, mypy-local

feat(vllm): support heterogeneous-geometry hybrid models (Gemma 3/4)
  docs/SUPPORTED_MODELS_AND_LAYOUT.md
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

harden(vllm): fail-loud guards from adversarial review of Gemma hetero support
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

bench(gemma): add heterogeneous-KV-group correctness check
  benchmarks/bench_gemma_hetero/README.md
  benchmarks/bench_gemma_hetero/correctness_check.py
Due: addlicense-py, mypy-local

docs(examples/08): GPT-OSS no longer requires --disable-hybrid-kv-cache-manager
  examples/08_hybrid_attention_models/README.md
Due: none

feat(vllm): support heterogeneous-geometry hybrid models (Gemma 3/4) (#396)
  benchmarks/bench_gemma_hetero/README.md
  benchmarks/bench_gemma_hetero/correctness_check.py
  docs/SUPPORTED_MODELS_AND_LAYOUT.md
  examples/08_hybrid_attention_models/README.md
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix: cache worker IPC state for prealloc thread
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
Due: addlicense-cpp-like

fix(vllm): preserve recorded TP world size
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_vllm_tp_world_size.py
Due: addlicense-py, mypy-local

fix: defer tp prealloc until first alloc
  kvcached/kv_cache_manager.py
  tests/test_tp_prealloc_startup.py
Due: addlicense-py, mypy-local

fix: accept precomputed sglang page allocations
  kvcached/integration/sglang/patches.py
  tests/test_sglang_elastic_allocator_patch.py
Due: addlicense-py, mypy-local

fix(sglang): use storage dtype for FP8 KV pools
  kvcached/integration/sglang/patches.py
  tests/test_sglang_storage_dtype.py
Due: addlicense-py, mypy-local

test(sglang): isolate integration interface fixture
  tests/test_sglang_elastic_allocator_patch.py
Due: addlicense-py, mypy-local

Add P/D connector support matrix and smoke summaries
  README.md
  docs/PD_DISAGGREGATION.md
  tools/run_vllm_nixl_pd_smoke.sh
Due: none

Fix small max cached token limits
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

feat(vllm): support contiguous KV layout for hybrid linear-attention (Qwen3-Next/GDN)
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_hybrid_contiguous_layout.py
Due: addlicense-py, mypy-local

docs: document hybrid contiguous KV-layout support; fix bench_layout polarity
  benchmarks/bench_layout/README.md
  docs/HYBRID_LINEAR_CONTIGUOUS_LAYOUT_PLAN.md
  docs/SUPPORTED_MODELS_AND_LAYOUT.md
  examples/08_hybrid_attention_models/README.md
Due: none
