Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

ci(gpu): let a label run the GPU profile on a fork pull request too
  .github/workflows/gpu-tests.yml
  tests/test_gpu_ci_plan.py
  tools/resolve_gpu_ci_plan.sh
Due: addlicense-py, mypy-local

ci(gpu): note that the fork policy is the host owner's to accept
  tools/resolve_gpu_ci_plan.sh
Due: none

ci(gpu): run the tests against the wheel the job installed, not the source tree
  tests/test_gpu_ci_bootstrap_contract.py
  tools/bootstrap_gpu_ci_envs.sh
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

ci(gpu): take the host's configuration from the host, not from repository variables
  .github/workflows/gpu-tests.yml
  tests/test_gpu_ci_bootstrap_contract.py
  tests/test_gpu_ci_plan.py
  tools/resolve_gpu_ci_plan.sh
Due: addlicense-py, mypy-local

feat: add revisioned instance memory limits
  kvcached/control.py
  kvcached/kv_cache_manager.py
  tests/manifests/cpu.txt
  tests/test_memory_limit_control.py
Due: addlicense-py, mypy-local

test: inject the page.alloc() failure with monkeypatch
  tests/test_alloc_rollback.py
Due: addlicense-py, mypy-local

ci(gpu): drop the dead device input and emit the variable names in use
  .github/workflows/gpu-tests.yml
  tests/test_gpu_ci_bootstrap_contract.py
  tools/bootstrap_gpu_ci_envs.sh
Due: addlicense-py, mypy-local

docs(gpu-ci): describe the workflow that exists
  docs/GPU_CI_DELIVERY.md
  docs/GPU_CI_RUNNER.md
Due: none

ci(gpu): test the engine versions the project documents support for
  tools/bootstrap_gpu_ci_envs.sh
Due: none

test: move the two non-test modules out of the test glob
  controller/README.md
  examples/03_model_router_sleep/README.md
  tests/helpers/__init__.py
  tests/helpers/config.py
  tests/helpers/traffic_monitor.py
  tests/manifests/integration.txt
  tests/test_sleep_manager.py
Due: addlicense-py, mypy-local

test: delete two tests that could not fail
  tests/manifests/integration.txt
  tests/test_ElasticMLAMemoryPool.py
  tests/test_offline_serving.py
Due: addlicense-py, mypy-local

ci(gpu): smoke-test a hybrid-attention model
  .github/workflows/gpu-tests.yml
  tools/run_engine_smoke.sh
  tools/run_gpu_ci.sh
Due: none

test: cover SGLang KV-cache elasticity, and run both in CI
  docs/GPU_CI_RUNNER.md
  tests/helpers/elasticity.py
  tests/manifests/integration.txt
  tests/test_elastic_serving.py
  tests/test_elastic_serving_sglang.py
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

ci(gpu): install ninja into the engine environments and put it on PATH
  tools/bootstrap_gpu_ci_envs.sh
  tools/run_engine_smoke.sh
  tools/run_gpu_ci.sh
Due: none

test: run the elasticity checks on the hybrid model too
  tests/helpers/elasticity.py
Due: addlicense-py, mypy-local

ci(gpu): make the smoke test survive its own model
  tests/test_engine_smoke_contract.py
  tools/run_engine_smoke.sh
Due: addlicense-py, mypy-local

ci(gpu): ignore the GPU CI artifact directory
  .gitignore
Due: none

fix(vllm): correct heterogeneous prefix-cache hashes
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
  tests/test_vllm_tp_world_size.py
Due: addlicense-py, mypy-local

fix(vllm): correct heterogeneous prefix-cache hashes (#451)
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
  tests/test_vllm_tp_world_size.py
Due: addlicense-py, mypy-local

test: pin fail-loud behavior when InternalPage.alloc() raises mid-alloc (#449)
  tests/test_alloc_rollback.py
Due: addlicense-py, mypy-local

Support single-GPU profiles on multi-GPU runners
  tests/test_gpu_ci_contract.py
  tools/bootstrap_gpu_ci_envs.sh
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

Load the active compiler C++ runtime in GPU CI
  tests/test_gpu_ci_contract.py
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

fix(kv-cache): size pages via get_block_range in _get_num_alloced_blocks
  kvcached/kv_cache_manager.py
  tests/manifests/cpu.txt
  tests/test_block_count_consistency.py
Due: addlicense-py, mypy-local

fix(tests): isort imports + codespell statics->static methods + citation line
  kvcached/kv_cache_manager.py
  tests/test_block_count_consistency.py
Due: addlicense-py, mypy-local

fix(vllm): report an exhausted KV pool as a scheduling miss, not a crash
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/patches.py
  kvcached/utils.py
  tests/manifests/cpu.txt
  tests/test_prefix_cache.py
  tests/test_vllm_pool_exhaustion.py
Due: addlicense-py, mypy-local

fix(vllm): report an exhausted KV pool as a scheduling miss, not a crash (#453)
  kvcached/integration/vllm/autopatch.py
  kvcached/integration/vllm/patches.py
  kvcached/utils.py
  tests/manifests/cpu.txt
  tests/test_prefix_cache.py
  tests/test_vllm_pool_exhaustion.py
Due: addlicense-py, mypy-local

fix(vllm): accept prepend kwarg in ElasticBlockPool.free_blocks (#439)
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

fix: serialize physical KV growth admission
  csrc/allocator.cpp
  csrc/inc/allocator.hpp
  csrc/inc/gpu_vmm.hpp
  examples/01_simple_two_models/README.md
Due: addlicense-cpp-like

fix(vllm): fan out KV mapping across PP stages
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/tp_ipc_util.py
Due: addlicense-py, mypy-local

feat: account sglang deepseek-v4 reservations
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  tests/test_sglang_dsv4_runtime_reservation_patch.py
  tests/test_sglang_elastic_allocator_patch.py
Due: addlicense-py, mypy-local

fix: accept precomputed sglang page allocations
  kvcached/integration/sglang/patches.py
  tests/test_sglang_elastic_allocator_patch.py
Due: addlicense-py, mypy-local

feat(sglang): export kvcached metrics through native endpoint
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/metrics.py
  kvcached/integration/sglang/patches.py
  tests/manifests/cpu.txt
  tests/test_sglang_metrics.py
Due: addlicense-py, mypy-local

fix: propagate TP and PP KV mapping failures
  kvcached/kv_cache_manager.py
  kvcached/tp_ipc_util.py
  tests/manifests/cpu.txt
  tests/test_kvcache_manager_post_init.py
  tests/test_tp_ipc_pp_fanout.py
  tests/test_tp_ipc_worker_failures.py
  tests/test_vllm_pp_fanout.py
  tests/test_vllm_tp_world_size.py
Due: addlicense-py, mypy-local

test(sglang): isolate integration interface fixture
  tests/manifests/cpu.txt
  tests/test_sglang_elastic_allocator_patch.py
Due: addlicense-py, mypy-local

fix: bind worker IPC listener to its CUDA device
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/tp_ipc_util.py
  tests/manifests/cpu.txt
  tests/test_observability.py
  tests/test_tp_listener_device.py
Due: addlicense-py, mypy-local

fix(sglang): keep KV pool ownership local to each TP worker
  kvcached/integration/sglang/interfaces.py
  tests/manifests/cpu.txt
  tests/test_sglang_local_pool_ownership.py
Due: addlicense-py, mypy-local

fix(vllm): honor padded KV page sizes
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/manifests/cpu.txt
  tests/test_vllm_padded_page_size.py
Due: addlicense-py, mypy-local

feat(sglang): pool DeepSeek-V4 SWA KV cache
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  tests/manifests/cpu.txt
  tests/test_sglang_dsv4_kv_pool_patch.py
  tests/test_sglang_dsv4_runtime_reservation_patch.py
Due: addlicense-py, mypy-local

fix: make KV tensor VMM batches transactional
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/ftensor.hpp
  csrc/page.cpp
  csrc/torch_bindings.cpp
  kvcached/tp_ipc_util.py
  tests/manifests/cpu.txt
  tests/manifests/gpu.txt
  tests/test_tp_ipc_atomic_map.py
  tests/test_tp_ipc_pp_fanout.py
  tests/test_tp_ipc_worker_failures.py
  tests/test_vllm_pp_fanout.py
  tests/test_vmm_transaction.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
