Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
exclude: '^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.7
  hooks:
  - id: ruff
    args: [--output-format, github, --fix]
  - id: ruff-format
    files: ^(.buildkite)/.*
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies: ['tomli']
    args: ['--toml', 'pyproject.toml']
    exclude: '^(.*vidprom.txt|.*alpaca_en_demo.json|.*\.svg)$'
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
- repo: local
  hooks:
    - id: addlicense-cpp-like
      name: Add SPDX headers (C/C++/CUDA/IPP)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.(c|cc|cpp|h|hpp|cu|cuh|ipp)$'
    - id: addlicense-py
      name: Add SPDX headers (Python)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.py$'
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.3
  hooks:
  - id: clang-format
    exclude: 'csrc/(moe/topk_softmax_kernels.cu|quantization/gguf/(ggml-common.h|dequantize.cuh|vecdotq.cuh|mmq.cuh|mmvq.cuh))|vllm/third_party/.*'
    types_or: [c++, cuda]
    args: [--style=file, --verbose]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.29
  hooks:
  - id: pymarkdown
    exclude: '.*\.inc\.md'
    args: [fix]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.17
  hooks:
    - id: pip-compile
      args: [requirements/test.in, -o, requirements/test.txt, --index-strategy, unsafe-best-match, --torch-backend, cu128]
      files: ^requirements/test\.(in|txt)$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: trailing-whitespace
      # optional: keep Markdown linebreaks (two spaces at EOL)
      args: [--markdown-linebreak-ext=md]
    # - id: end-of-file-fixer  # nice companion to ensure newline at EOF

# Add mypy hooks for both local runs and CI (manual stage)
- repo: local
  hooks:
  - id: mypy-local
    name: Run mypy for local Python installation
    entry: tools/mypy.sh 0 "local"
    language: python
    types: [python]
    pass_filenames: false
    additional_dependencies: &mypy_deps [mypy==1.11.1, types-cachetools, types-setuptools, types-PyYAML, types-requests, pydantic]
    stages: [pre-commit] # Don't run in CI
  - id: mypy-3.9
    name: Run mypy for Python 3.9
    entry: tools/mypy.sh 1 "3.9"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.10
    name: Run mypy for Python 3.10
    entry: tools/mypy.sh 1 "3.10"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.11
    name: Run mypy for Python 3.11
    entry: tools/mypy.sh 1 "3.11"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.12
    name: Run mypy for Python 3.12
    entry: tools/mypy.sh 1 "3.12"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI

fix: narrow the rollback handler to alloc_page()
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

docs: refresh the supported models table
  README.md
Due: none

docs: refresh the supported models table (#441)
  README.md
Due: none

test: classify test_alloc_rollback as a CPU test
  tests/manifests/cpu.txt
Due: none

fix: roll back partial allocation when alloc_page() fails in KVCacheManager.alloc() (#430)
  kvcached/kv_cache_manager.py
  tests/manifests/cpu.txt
  tests/test_alloc_rollback.py
Due: addlicense-py, mypy-local

docs: group the connector matrix by intent, drop SharedStorageConnector
  docs/PD_DISAGGREGATION.md
Due: none

fix: emit real JSON Lines, and record failed cases too
  tools/run_vllm_nixl_pd_smoke.sh
Due: none

docs: drop the README changes
  README.md
Due: none

docs: remove some docs that were pushed by mistake
  docs/HYBRID_LINEAR_CONTIGUOUS_LAYOUT_PLAN.md
  docs/SUPPORTED_MODELS_AND_LAYOUT.md
Due: none

docs: Add P/D connector support matrix and smoke summaries (#404)
  docs/HYBRID_LINEAR_CONTIGUOUS_LAYOUT_PLAN.md
  docs/PD_DISAGGREGATION.md
  docs/SUPPORTED_MODELS_AND_LAYOUT.md
  tools/run_vllm_nixl_pd_smoke.sh
Due: none

Add CPU offload control-plane foundation
  README.md
  docs/CPU_OFFLOAD_DESIGN.md
  kvcached/cpu_offload.py
  tests/test_cpu_offload.py
  tools/benchmark_cpu_offload.py
Due: addlicense-py, mypy-local

Report CPU offload transfer tail latency
  tests/test_cpu_offload_benchmark.py
  tools/benchmark_cpu_offload.py
Due: addlicense-py, mypy-local

Schedule CPU offload GPU validation
  .github/workflows/cpu-offload-gpu.yml
  docs/CPU_OFFLOAD_DESIGN.md
  tests/test_cpu_offload_vmm_contract.py
Due: addlicense-py, mypy-local

Preserve GIL release in offload bindings
  tests/test_cpu_offload_vmm_contract.py
Due: addlicense-py, mypy-local

Link CUDA extensions against toolkit stubs
  setup.py
Due: addlicense-py, mypy-local

Bootstrap the H20 compiler toolchain
  docs/CPU_OFFLOAD_DESIGN.md
  tools/run_cpu_offload_h20_validation.sh
Due: none

Make CPU offload capacity handling lossless
  .github/actionlint.yaml
  docs/CPU_OFFLOAD_DESIGN.md
  kvcached/cpu_offload.py
  tests/test_cpu_offload.py
  tests/test_cpu_offload_vmm_contract.py
Due: addlicense-py, mypy-local

Add pinned-memory VMM CPU offload data path
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  docs/CPU_OFFLOAD_DESIGN.md
  kvcached/cpu_offload.py
  kvcached/kv_cache_manager.py
  tests/test_cpu_offload.py
  tests/test_cpu_offload_vmm_contract.py
  tools/run_cpu_offload_h20_validation.sh
  tools/validate_cpu_offload_vmm.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Apply project formatting to CPU offload changes
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  setup.py
  tests/test_cpu_offload.py
  tests/test_cpu_offload_vmm_contract.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

test: make test_sleep_manager.py runnable under pytest via pytest-asyncio
  pyproject.toml
  requirements.txt
  tests/manifests/cpu.txt
  tests/manifests/integration.txt
  tests/test_sleep_manager.py
Due: addlicense-py, mypy-local

fix: synchronize page allocator snapshots
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/observability.py
  tests/manifests/gpu.txt
  tests/test_observability.py
  tests/test_page_allocator_snapshot.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix-qwen35-sglang-0515
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

feat(vllm): allow the contiguous KV layout for heterogeneous attention groups
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

test(vllm): pin heterogeneous KV view aliasing under both layouts
  tests/manifests/gpu.txt
  tests/test_hetero_contiguous_layout.py
Due: addlicense-py, mypy-local

docs: Gemma no longer needs KVCACHED_CONTIGUOUS_LAYOUT=false
  examples/08_hybrid_attention_models/README.md
Due: none

fix(vllm): keep failing loud for contiguous + kernel_block_size != block_size
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_hetero_contiguous_layout.py
Due: addlicense-py, mypy-local

feat(vllm): support the contiguous KV layout for heterogeneous attention groups (Gemma) (#445)
  examples/08_hybrid_attention_models/README.md
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/manifests/gpu.txt
  tests/test_hetero_contiguous_layout.py
Due: addlicense-py, mypy-local

docs: add AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

docs: add AGENTS.md and CLAUDE.md (#447)
  AGENTS.md
  CLAUDE.md
Due: none

fix: qwen3.5 on sglang 0.5.14 and 0.5.15 (#444)
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

test: make test_sleep_manager.py runnable under pytest via pytest-asyncio (#432)
  pyproject.toml
  requirements.txt
  tests/manifests/cpu.txt
  tests/manifests/integration.txt
  tests/test_sleep_manager.py
Due: addlicense-py, mypy-local

Harden CPU offload GPU validation artifacts
  tests/test_cpu_offload_benchmark.py
  tools/benchmark_cpu_offload.py
  tools/run_cpu_offload_h20_validation.sh
  tools/validate_cpu_offload_vmm.py
Due: addlicense-py, mypy-local

Add reproducible two-GPU offload campaign
  docs/H20_CPU_OFFLOAD_RUNBOOK.md
  tests/test_cpu_offload_vmm_contract.py
  tools/run_two_gpu_cpu_offload_campaign.sh
Due: addlicense-py, mypy-local

Fix GPU CI pre-commit checks
  .github/actionlint.yaml
  setup.py
  tests/test_engine_smoke_contract.py
  tests/test_gpu_ci_bootstrap_contract.py
  tests/test_gpu_ci_contract.py
Due: addlicense-py, mypy-local

Add self-hosted GPU CI profiles
  .github/workflows/gpu-tests.yml
  README.md
  docs/GPU_CI_RUNNER.md
  pyproject.toml
  setup.py
  tests/test_engine_smoke_contract.py
  tests/test_gpu_ci_contract.py
  tests/test_paged_allocator_aliasing.py
  tools/run_engine_smoke.sh
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

Complete portable GPU CI runner provisioning
  .github/workflows/gpu-tests.yml
  README.md
  docs/GPU_CI_DELIVERY.md
  docs/GPU_CI_RUNNER.md
  tests/test_gpu_ci_bootstrap_contract.py
  tests/test_gpu_ci_contract.py
  tools/bootstrap_gpu_ci_envs.sh
  tools/run_engine_smoke.sh
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

Scope GPU CI jobs to assigned devices
  .github/workflows/gpu-tests.yml
  docs/GPU_CI_RUNNER.md
  tests/test_gpu_ci_contract.py
  tools/run_gpu_ci.sh
Due: addlicense-py, mypy-local

Re-enable GPU resize regression test
  tests/test_kvcache_manager.py
Due: addlicense-py, mypy-local

Harden engine smoke lifecycle checks
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  tests/test_engine_smoke_contract.py
  tools/check_engine_activation.py
  tools/run_engine_smoke.sh
Due: addlicense-py, mypy-local
