Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

Add direct vLLM P2P NCCL experiment
  experiments/11_vllm_p2p_nccl_direct.sh
  experiments/p2p_nccl_vllm_validation.md
Due: none

Avoid unused deps in direct vLLM P2P script
  experiments/11_vllm_p2p_nccl_direct.sh
  experiments/p2p_nccl_vllm_validation.md
Due: none

Handle moved upstream vLLM P2P example
  experiments/11_vllm_p2p_nccl_direct.sh
  experiments/p2p_nccl_vllm_validation.md
Due: none

Add LMCacheConnectorV1 PD experiment harness
  experiments/.gitignore
  experiments/12_lmcache_connector_v1_debug.sh
  experiments/lmcache_connector_v1_validation.md
Due: none

fix: defer autopatch gate to import time without eager kvcached import
  kvcached_autopatch.pth
Due: none

sync: pull latest changes from PR #319 head
  csrc/page_allocator.cpp
  kvcached/kv_cache_manager.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

bench: split bench_alloc and add bench_layout; quantify contiguous-layout overhead
  benchmarks/bench_alloc/bench_result.md
  benchmarks/bench_layout/bench_result.md
  benchmarks/bench_layout/diff_nsys_kernels.py
  benchmarks/bench_layout/parse_results.py
  benchmarks/bench_layout/run_kvcached_configs.sh
  benchmarks/bench_layout/run_layout_retest.sh
  benchmarks/bench_layout/run_ncu_attn.sh
  benchmarks/bench_layout/run_nsys_layout.sh
  benchmarks/bench_layout/run_sweep.sh
Due: addlicense-py, mypy-local

bench: rename bench_result.md -> README.md and trim writeups
  benchmarks/bench_alloc/README.md
  benchmarks/bench_alloc/bench_result.md
  benchmarks/bench_layout/README.md
  benchmarks/bench_layout/bench_result.md
Due: none

bench_alloc: restructure README; lead with allocator gains
  benchmarks/bench_alloc/README.md
Due: none

bench_layout: add Section 3 quantifying when LAYOUT=true wins
  benchmarks/bench_layout/README.md
Due: none

bench_layout: drop section 4 (LAYOUT=false enablement already fixed)
  benchmarks/bench_layout/README.md
Due: none

bench_layout: tighten README, rename Recommendation -> Summary
  benchmarks/bench_layout/README.md
Due: none

Fix LMCache harness vLLM serve args
  experiments/12_lmcache_connector_v1_debug.sh
Due: none

Add LMCache PD disagg request metadata
  experiments/12_lmcache_connector_v1_debug.sh
  experiments/lmcache_connector_v1_validation.md
Due: none

Use long prompts for LMCache hit validation
  experiments/12_lmcache_connector_v1_debug.sh
  experiments/lmcache_connector_v1_validation.md
Due: none

Refocus LMCache validation on bring-up
  experiments/12_lmcache_connector_v1_debug.sh
  experiments/lmcache_connector_v1_validation.md
Due: none

Add LMCache evidence collector
  experiments/collect_lmcache_connector_v1_evidence.sh
Due: none

Document LMCacheConnectorV1 kvcached diagnosis
  experiments/lmcache_connector_v1_validation.md
Due: none

Add LMCache KV layout diagnostics
  experiments/12_lmcache_connector_v1_debug.sh
  experiments/collect_lmcache_connector_v1_evidence.sh
  experiments/lmcache_connector_v1_validation.md
Due: none

Add LMCacheConnectorV1 evidence bundles
  experiments/evidence/lmcache_connector_v1/README.md
  experiments/evidence/lmcache_connector_v1/lmcache_connector_v1_kvcached_compound_layout_failure_diag.tar.gz
  experiments/evidence/lmcache_connector_v1/lmcache_connector_v1_kvcached_default_failure.tar.gz
  experiments/evidence/lmcache_connector_v1/lmcache_connector_v1_kvcached_noncompound_layout_fix_pass.tar.gz
  experiments/evidence/lmcache_connector_v1/lmcache_connector_v1_plain_hits.tar.gz
  experiments/evidence/lmcache_connector_v1/lmcache_connector_v1_plain_layout_diag.tar.gz
  experiments/lmcache_connector_v1_validation.md
Due: none

perf test on H100
  benchmarks/bench_layout/run_kvcached_configs.sh
  benchmarks/bench_layout/run_nsys_layout.sh
  benchmarks/bench_layout/run_sweep.sh
  benchmarks/bench_layout/sweep_results/A_vanilla_inf.seed42.json
  benchmarks/bench_layout/sweep_results/A_vanilla_inf.seed7.json
  benchmarks/bench_layout/sweep_results/A_vanilla_inf.seed99.json
  benchmarks/bench_layout/sweep_results/B_kvcached_default_inf.seed42.json
  benchmarks/bench_layout/sweep_results/B_kvcached_default_inf.seed7.json
  benchmarks/bench_layout/sweep_results/B_kvcached_default_inf.seed99.json
  benchmarks/bench_layout/sweep_results/C_layout_false_inf.seed42.json
  benchmarks/bench_layout/sweep_results/C_layout_false_inf.seed7.json
  benchmarks/bench_layout/sweep_results/C_layout_false_inf.seed99.json
  benchmarks/bench_layout/sweep_results/D_reserved200_inf.seed42.json
  benchmarks/bench_layout/sweep_results/D_reserved200_inf.seed7.json
  benchmarks/bench_layout/sweep_results/D_reserved200_inf.seed99.json
  benchmarks/bench_layout/sweep_results/E_both_inf.seed42.json
  benchmarks/bench_layout/sweep_results/E_both_inf.seed7.json
  benchmarks/bench_layout/sweep_results/E_both_inf.seed99.json
  benchmarks/bench_layout/sweep_results/F_vanilla_r16.seed42.json
  benchmarks/bench_layout/sweep_results/F_vanilla_r16.seed7.json
  benchmarks/bench_layout/sweep_results/F_vanilla_r16.seed99.json
  benchmarks/bench_layout/sweep_results/G_kvcached_default_r16.seed42.json
  benchmarks/bench_layout/sweep_results/G_kvcached_default_r16.seed7.json
  benchmarks/bench_layout/sweep_results/G_kvcached_default_r16.seed99.json
  benchmarks/bench_layout/sweep_results/H_best_r16.seed42.json
  benchmarks/bench_layout/sweep_results/H_best_r16.seed7.json
  benchmarks/bench_layout/sweep_results/H_best_r16.seed99.json
Due: none

Pass ipc_name as a constructor parameter through the full call chain which not rely on import ordering
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/kv_cache_manager.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix pre-commit error
  csrc/inc/page_allocator.hpp
Due: addlicense-cpp-like

change resize check to watcher thread
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
  csrc/torch_bindings.cpp
  kvcached/kv_cache_manager.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

implement resize check as a watcher thread
  csrc/inc/page_allocator.hpp
  csrc/torch_bindings.cpp
Due: addlicense-cpp-like

Modify setup.py, csrc/ to build extension on a ROCm box instead of only CUDA
  .gitignore
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/gpu_vmm.hpp
  setup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

fix: handle str block_hash in prefix cache key encoding
  kvcached/integration/vllm/patches.py
  tests/test_prefix_cache.py
Due: addlicense-py, mypy-local

Update README spacing
  README.md
Due: none

fix: cache worker IPC state for prealloc thread
  csrc/inc/page_allocator.hpp
  csrc/page_allocator.cpp
Due: addlicense-cpp-like

fix: defer tp prealloc until first alloc
  kvcached/kv_cache_manager.py
  tests/test_tp_prealloc_startup.py
Due: addlicense-py, mypy-local

fix: reuse recorded tp world size in coordinator
  kvcached/integration/vllm/patches.py
  tests/test_tp_world_size_patch.py
Due: addlicense-py, mypy-local

fix: harden coordinator world size follow-up
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_tp_world_size_patch.py
Due: addlicense-py, mypy-local

fix: harden tp prealloc startup follow-up
  kvcached/kv_cache_manager.py
  tests/test_tp_prealloc_startup.py
Due: addlicense-py, mypy-local

kvcached: clarify KVCACHED_MAX_CACHED_TOKENS semantics (-1=unlimited, 0=disabled)
  examples/09_prefix_caching/README.md
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/patches.py
  kvcached/utils.py
Due: addlicense-py, mypy-local

basic script
  _launch_guard.sh
  _launch_guard_baseline.sh
  _launch_guard_baseline_v2.sh
  _launch_main.sh
  _launch_main_baseline.sh
  _launch_main_baseline_low.sh
  _p4_bench_inside.sh
  _p4_results/kvcached/c128.json
  _p4_results/kvcached/c16.json
  _p4_results/kvcached/c32.json
  _p4_results/kvcached/c4.json
  _p4_results/kvcached/c64.json
  _p4_results/kvcached/c8.json
  _p4_results/kvcached/done.marker
Due: none

results
  csrc/ftensor.cpp
  demo/dgx-spark/bench.sh
  demo/dgx-spark/config.sh
  demo/dgx-spark/launch_guard.sh
  demo/dgx-spark/launch_main.sh
  demo/dgx-spark/plot_results.py
  demo/dgx-spark/results/baseline/c16.json
  demo/dgx-spark/results/baseline/c32.json
  demo/dgx-spark/results/baseline/c4.json
  demo/dgx-spark/results/baseline/c8.json
  demo/dgx-spark/results/baseline/done.marker
  demo/dgx-spark/results/e2e_vs_concurrency.png
  demo/dgx-spark/results/kvcached/c16.json
  demo/dgx-spark/results/kvcached/c32.json
  demo/dgx-spark/results/kvcached/c4.json
  demo/dgx-spark/results/kvcached/c8.json
  demo/dgx-spark/results/kvcached/done.marker
  demo/dgx-spark/results/summary.csv
  demo/dgx-spark/results/ttft_vs_concurrency.png
  demo/dgx-spark/run_benchmark.sh
  demo/dgx-spark/stop.sh
  demo/dgx-spark/workflow_benchmark.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  models--meta-llama--Llama-Guard-3-8B
Due: addlicense-cpp-like, addlicense-py, mypy-local

clean the folder
  _launch_guard.sh
  _launch_guard_baseline.sh
  _launch_guard_baseline_v2.sh
  _launch_main.sh
  _launch_main_baseline.sh
  _launch_main_baseline_low.sh
  _p4_bench_inside.sh
  _p4_results/kvcached/c128.json
  _p4_results/kvcached/c16.json
  _p4_results/kvcached/c32.json
  _p4_results/kvcached/c4.json
  _p4_results/kvcached/c64.json
  _p4_results/kvcached/c8.json
  _p4_results/kvcached/done.marker
  models--meta-llama--Llama-Guard-3-8B
Due: none

update readme
  benchmarks/bench_dgx_spark/README.md
  benchmarks/bench_dgx_spark/bench.sh
  benchmarks/bench_dgx_spark/config.sh
  benchmarks/bench_dgx_spark/launch_guard.sh
  benchmarks/bench_dgx_spark/launch_main.sh
  benchmarks/bench_dgx_spark/plot_results.py
  benchmarks/bench_dgx_spark/results/baseline/c16.json
  benchmarks/bench_dgx_spark/results/baseline/c32.json
  benchmarks/bench_dgx_spark/results/baseline/c4.json
  benchmarks/bench_dgx_spark/results/baseline/c8.json
  benchmarks/bench_dgx_spark/results/baseline/done.marker
  benchmarks/bench_dgx_spark/results/e2e_vs_concurrency.png
  benchmarks/bench_dgx_spark/results/kvcached/c16.json
  benchmarks/bench_dgx_spark/results/kvcached/c32.json
  benchmarks/bench_dgx_spark/results/kvcached/c4.json
  benchmarks/bench_dgx_spark/results/kvcached/c8.json
  benchmarks/bench_dgx_spark/results/kvcached/done.marker
  benchmarks/bench_dgx_spark/results/summary.csv
  benchmarks/bench_dgx_spark/results/ttft_vs_concurrency.png
  benchmarks/bench_dgx_spark/run_benchmark.sh
  benchmarks/bench_dgx_spark/stop.sh
  benchmarks/bench_dgx_spark/workflow_benchmark.py
Due: addlicense-py, mypy-local

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
