Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

fix socket name
  kvcached/tp_ipc_util.py
Due: addlicense-py, mypy-local

feat: Implement distributed KV cache pooling with tiered page allocation across local and shared GPUs.
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/page.hpp
  csrc/page.cpp
  csrc/torch_bindings.cpp
  examples/09_distributed_kv_pool/README.md
  examples/09_distributed_kv_pool/send_requests.sh
  examples/09_distributed_kv_pool/start_client.sh
  examples/09_distributed_kv_pool/start_distributed_models.sh
  kvcached/cli/kvctl.py
  kvcached/cli/utils.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
  kvcached/tp_ipc_util.py
  tests/test_allocator_logic.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

test: remove unused `expected_local` calculation and comment from allocator test
  tests/test_allocator_logic.py
Due: addlicense-py, mypy-local

chore: apply pre-commit auto-fixes
  csrc/allocator.cpp
  csrc/torch_bindings.cpp
  examples/09_distributed_kv_pool/start_distributed_models.sh
  kvcached/cli/kvctl.py
  kvcached/cli/utils.py
  kvcached/page_allocator.py
  tests/test_allocator_logic.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

docs: Correct hyphenation in page allocator comment.
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

[Fix] Fix SGLang tensor parallel rank bug and improve code quality
  kvcached/autopatch.py
  kvcached/cli/kvctl.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
Due: addlicense-py, mypy-local

[Doc] Add FAQ section and multi-model troubleshooting guide
  README.md
  controller/README.md
  controller/example-config.yaml
Due: none

[Feat] Add hybrid attention model support for vLLM
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

docs: Add comprehensive documentation and semantic router example
  docs/API.md
  docs/ARCHITECTURE.md
  docs/COMPATIBILITY.md
  examples/09_semantic_router/README.md
  examples/09_semantic_router/semantic_router.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

docs: Add comprehensive documentation and design docs for future features
  docs/BENCHMARKING.md
  docs/COMPATIBILITY.md
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
  docs/design/CPU_OFFLOADING.md
  docs/design/MULTI_ATTENTION.md
  docs/design/OLLAMA_INTEGRATION.md
  docs/design/TENSORRT_LLM.md
Due: none

[Release] Bump version to 0.1.3
  pyproject.toml
Due: none

[Fix] Fix TP IPC broadcast logic to skip rank 0
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
  kvcached/tp_ipc_util.py
Due: addlicense-py, mypy-local

fix: compute block_mem_size by multiplying block_size
  kvcached/integration/sglang/interfaces.py
Due: addlicense-py, mypy-local

comment out the warning on only tested with page_size=1
  kvcached/integration/sglang/interfaces.py
Due: addlicense-py, mypy-local

feat: support ElasticMLAMemoryPool
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  tests/test_ElasticMLAMemoryPool.py
Due: addlicense-py, mypy-local

run through pre-commit
  tests/test_ElasticMLAMemoryPool.py
Due: addlicense-py, mypy-local

feat: change kvi.get_kv_cache_manager block size
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

feat: support ElasticPagedTokenToKVPoolAllocator
  kvcached/integration/sglang/patches.py
  tests/test_paged_allocator_aliasing.py
Due: addlicense-py, mypy-local

update log info to point out used elastic class
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

feat: support elasticmla class
  csrc/allocator.cpp
  csrc/inc/allocator.hpp
  csrc/torch_bindings.cpp
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
  kvcached/kv_cache_manager.py
  kvcached/mem_info_tracker.py
  kvcached/page_allocator.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Add BYTES_PER_GB constant
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

fix kPageSize value after init()
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/page.hpp
  csrc/page.cpp
Due: addlicense-cpp-like

delete __del__ on patch side
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

feat: delete redundant functions
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

feat: support MLA models with multi-page-size
  kvcached/integration/sglang/interfaces.py
Due: addlicense-py, mypy-local

feat: support vllm-0.14.0
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

feat: support requested_memory
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix pre-commit isort error
  benchmarks/bench_latency_benefit/bench_kvcached_vllm.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

feat: support vllm-0.14.0
  benchmarks/bench_latency_benefit/bench_kvcached_vllm.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix: pre-commit issue
  benchmarks/bench_latency_benefit/bench_kvcached_vllm.py
  kvcached/integration/vllm/patches.py
  pyproject.toml
Due: addlicense-py, mypy-local

update ignorance of vscode settings
  .gitignore
Due: none

can working version with messy code
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/cuda_utils.hpp
  csrc/inc/ftensor.hpp
  csrc/inc/gpu_vmm.hpp
  csrc/inc/impl/torch_utils.ipp
  csrc/inc/page.hpp
  csrc/inc/torch_utils.hpp
  csrc/page.cpp
  csrc/torch_bindings.cpp
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
  kvcached/page_allocator.py
  setup.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Feat: add pipeline parallel for vllm 0.14.0
  benchmarks/simple_bench/start_client.sh
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

Support pp for sgl
  benchmarks/simple_bench/start_client.sh
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/sglang/interfaces.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

fix pre-commit
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/allocator.hpp
  csrc/inc/cuda_utils.hpp
  csrc/inc/gpu_vmm.hpp
  csrc/page.cpp
Due: addlicense-cpp-like

fix world_size conflicts, support tp+pp
  benchmarks/simple_bench/start_server.sh
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/sglang/patches.py
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  kvcached/kv_cache_manager.py
  kvcached/tp_ipc_util.py
Due: addlicense-py, mypy-local

rename cuda_utils to gpu_utils
  benchmarks/bench_vmm/bench_vmm.cpp
  csrc/allocator.cpp
  csrc/ftensor.cpp
  csrc/inc/gpu_utils.hpp
  csrc/page.cpp
Due: addlicense-cpp-like

add comment for is_cuda
  csrc/allocator.cpp
  csrc/ftensor.cpp
Due: addlicense-cpp-like

warning for non-gpu device
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

update readme.md under examples
  examples/08_hybrid_attention_models/README.md
Due: none

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
