Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
exclude: '^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.7
  hooks:
  - id: ruff
    args: [--output-format, github, --fix]
  - id: ruff-format
    files: ^(.buildkite)/.*
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies: ['tomli']
    args: ['--toml', 'pyproject.toml']
    exclude: '^(.*vidprom.txt|.*alpaca_en_demo.json|.*\.svg)$'
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
- repo: local
  hooks:
    - id: addlicense-cpp-like
      name: Add SPDX headers (C/C++/CUDA/IPP)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.(c|cc|cpp|h|hpp|cu|cuh|ipp)$'
    - id: addlicense-py
      name: Add SPDX headers (Python)
      language: system
      entry: tools/addlicense.sh
      pass_filenames: true
      files: '\.py$'
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.3
  hooks:
  - id: clang-format
    exclude: 'csrc/(moe/topk_softmax_kernels.cu|quantization/gguf/(ggml-common.h|dequantize.cuh|vecdotq.cuh|mmq.cuh|mmvq.cuh))|vllm/third_party/.*'
    types_or: [c++, cuda]
    args: [--style=file, --verbose]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.29
  hooks:
  - id: pymarkdown
    exclude: '.*\.inc\.md'
    args: [fix]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.17
  hooks:
    - id: pip-compile
      args: [requirements/test.in, -o, requirements/test.txt, --index-strategy, unsafe-best-match, --torch-backend, cu128]
      files: ^requirements/test\.(in|txt)$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: trailing-whitespace
      # optional: keep Markdown linebreaks (two spaces at EOL)
      args: [--markdown-linebreak-ext=md]
    # - id: end-of-file-fixer  # nice companion to ensure newline at EOF

# Add mypy hooks for both local runs and CI (manual stage)
- repo: local
  hooks:
  - id: mypy-local
    name: Run mypy for local Python installation
    entry: tools/mypy.sh 0 "local"
    language: python
    types: [python]
    pass_filenames: false
    additional_dependencies: &mypy_deps [mypy==1.11.1, types-cachetools, types-setuptools, types-PyYAML, types-requests, pydantic]
    stages: [pre-commit] # Don't run in CI
  - id: mypy-3.9
    name: Run mypy for Python 3.9
    entry: tools/mypy.sh 1 "3.9"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.10
    name: Run mypy for Python 3.10
    entry: tools/mypy.sh 1 "3.10"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.11
    name: Run mypy for Python 3.11
    entry: tools/mypy.sh 1 "3.11"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.12
    name: Run mypy for Python 3.12
    entry: tools/mypy.sh 1 "3.12"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI

fix(sglang): support SGLang 0.5.11+ (version detection + refactored leak check)
  kvcached/integration/sglang/patches.py
  kvcached/integration/version_utils.py
Due: addlicense-py, mypy-local

fix(sglang): leave req_to_token_pool leak check intact
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

test(amd): add e2e KV-cache elasticity-under-load test
  tests/test_elastic_serving.py
Due: addlicense-py, mypy-local

fix(sglang): version detection + refactored leak check (SGLang 0.4.9-0.5.12)
  kvcached/integration/sglang/patches.py
  kvcached/integration/version_utils.py
Due: addlicense-py, mypy-local

style(test): annotate globals in test_elastic_serving for mypy
  tests/test_elastic_serving.py
Due: addlicense-py, mypy-local

fix(amd): address PR review comments
  csrc/inc/torch_utils.hpp
  csrc/page_allocator.cpp
Due: addlicense-cpp-like

fix(amd): normalize hip device strings to cuda before torch/c10 use
  kvcached/integration/sglang/interfaces.py
  kvcached/integration/vllm/interfaces.py
  kvcached/utils.py
Due: addlicense-py, mypy-local

Add external TriAttention integration
  .gitignore
  csrc/ftensor.cpp
  engine_integration/patches/README-triattention.md
  engine_integration/patches/kvcached-triattention-main.patch
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/triattention_external.py
  kvcached/integration/vllm/autopatch.py
  pyproject.toml
  tools/compare_vllm_triattention.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Add SGLang TriAttention comparison script
  tools/compare_sglang_triattention.py
Due: addlicense-py, mypy-local

Polish TriAttention integration for review
  csrc/ftensor.cpp
  engine_integration/patches/README-triattention.md
  engine_integration/patches/kvcached-triattention-main.patch
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/vllm/autopatch.py
  tools/compare_sglang_triattention.py
  tools/compare_vllm_triattention.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Tune SGLang TriAttention benchmark workload
  engine_integration/patches/README-triattention.md
  tools/compare_sglang_triattention.py
Due: addlicense-py, mypy-local

fix map_to_kv_tensors/unmap_from_kv_tensors in MLA non-contiguous layout
  csrc/allocator.cpp
  csrc/inc/allocator.hpp
Due: addlicense-cpp-like

feat: benchmark offloading vs. kvcached
  benchmarks/bench_offload_vs_kvcached/.gitignore
  benchmarks/bench_offload_vs_kvcached/README.md
  benchmarks/bench_offload_vs_kvcached/RESULTS.md
  benchmarks/bench_offload_vs_kvcached/analyze.py
  benchmarks/bench_offload_vs_kvcached/run_one.sh
  benchmarks/bench_offload_vs_kvcached/start_servers.sh
  benchmarks/bench_offload_vs_kvcached/workload.py
Due: addlicense-py, mypy-local

Added plots for latency analysis
  benchmarks/bench_latency_benefit/_plot.py
  benchmarks/bench_latency_benefit/_plot_queue.py
  benchmarks/bench_latency_benefit/_plot_ttft.py
Due: addlicense-py, mypy-local

Update kvcached/integration/sglang/patches.py based on Gemini review
  kvcached/integration/sglang/patches.py
Due: addlicense-py, mypy-local

Update benchmarks/bench_vmm/bench_vmm.cpp based on Gemini review
  benchmarks/bench_vmm/bench_vmm.cpp
Due: addlicense-cpp-like

Fix benchmark server subprocess startup
  tools/compare_sglang_triattention.py
  tools/compare_vllm_triattention.py
Due: addlicense-py, mypy-local

support uniform cross-layer KV cache layout for CPU offloading
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix(triattention): gate vLLM activation on supported version; treat zero-output bench runs as failures
  kvcached/integration/triattention_external.py
  tools/compare_sglang_triattention.py
  tools/compare_vllm_triattention.py
Due: addlicense-py, mypy-local

fix(triattention): support gpt-oss hybrid KV reclaim
  engine_integration/patches/README-triattention.md
  engine_integration/patches/kvcached-triattention-main.patch
  kvcached/integration/vllm/patches.py
  tools/compare_vllm_triattention.py
Due: addlicense-py, mypy-local

Fix autopatch env handling for script-set variables
  kvcached/integration/sglang/autopatch.py
  kvcached/integration/vllm/autopatch.py
  tests/test_autopatch_env.py
Due: addlicense-py, mypy-local

Add gpt-oss-120b kvcached memory results (single-model + guardrail co-location)
  benchmarks/bench_dgx_spark_gptoss/FINAL_RESULTS.md
  benchmarks/bench_dgx_spark_gptoss/bench_single.sh
  benchmarks/bench_dgx_spark_gptoss/kv_monitor.py
  benchmarks/bench_dgx_spark_gptoss/results/baseline/c1.json
  benchmarks/bench_dgx_spark_gptoss/results/baseline/c1_mem.json
  benchmarks/bench_dgx_spark_gptoss/results/baseline/c32.json
  benchmarks/bench_dgx_spark_gptoss/results/baseline/c32_mem.json
  benchmarks/bench_dgx_spark_gptoss/results/baseline/c8.json
  benchmarks/bench_dgx_spark_gptoss/results/baseline/c8_mem.json
  benchmarks/bench_dgx_spark_gptoss/results/kvcached/c1.json
  benchmarks/bench_dgx_spark_gptoss/results/kvcached/c1_mem.json
  benchmarks/bench_dgx_spark_gptoss/results/kvcached/c32.json
  benchmarks/bench_dgx_spark_gptoss/results/kvcached/c32_mem.json
  benchmarks/bench_dgx_spark_gptoss/results/kvcached/c8.json
  benchmarks/bench_dgx_spark_gptoss/results/kvcached/c8_mem.json
  benchmarks/bench_dgx_spark_gptoss/results_phase2/kvcached/c16.json
  benchmarks/bench_dgx_spark_gptoss/results_phase2/kvcached/c16_mem.json
  benchmarks/bench_dgx_spark_gptoss/results_phase2/kvcached/c32.json
  benchmarks/bench_dgx_spark_gptoss/results_phase2/kvcached/c32_mem.json
  benchmarks/bench_dgx_spark_gptoss/results_phase2/kvcached/c8.json
  benchmarks/bench_dgx_spark_gptoss/results_phase2/kvcached/c8_mem.json
Due: addlicense-py, mypy-local

feat(vllm): adapt kvcached KV-cache reshape patch to vLLM 0.20
  kvcached/integration/vllm/patches.py
  validate_kvcached_mapunmap.py
Due: addlicense-py, mypy-local

test(vllm): generalize kvcached MAP/UNMAP validation and move under tests/
  tests/test_kvcached_map_unmap.py
  validate_kvcached_mapunmap.py
Due: addlicense-py, mypy-local

test(vllm): add a quick output-correctness probe to the MAP/UNMAP test
  tests/test_kvcached_map_unmap.py
Due: addlicense-py, mypy-local

feat(vllm): support heterogeneous-geometry hybrid models (Gemma 3/4)
  docs/SUPPORTED_MODELS_AND_LAYOUT.md
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

harden(vllm): fail-loud guards from adversarial review of Gemma hetero support
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

docs(examples/08): GPT-OSS no longer requires --disable-hybrid-kv-cache-manager
  examples/08_hybrid_attention_models/README.md
Due: none

bench(gemma): add heterogeneous-KV-group correctness check
  benchmarks/bench_gemma_hetero/README.md
  benchmarks/bench_gemma_hetero/correctness_check.py
Due: addlicense-py, mypy-local

fix: accept precomputed sglang page allocations
  kvcached/integration/sglang/patches.py
  tests/test_sglang_elastic_allocator_patch.py
Due: addlicense-py, mypy-local

Fix unsigned underflow in available page calculation
  csrc/page_allocator.cpp
Due: addlicense-cpp-like

feat(vllm): support contiguous KV layout for hybrid linear-attention (Qwen3-Next/GDN)
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_hybrid_contiguous_layout.py
Due: addlicense-py, mypy-local

docs: document hybrid contiguous KV-layout support; fix bench_layout polarity
  benchmarks/bench_layout/README.md
  docs/HYBRID_LINEAR_CONTIGUOUS_LAYOUT_PLAN.md
  docs/SUPPORTED_MODELS_AND_LAYOUT.md
  examples/08_hybrid_attention_models/README.md
Due: none

fix: support vllm raw kv reshape
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
  tests/test_vllm_hybrid_reshape_patch.py
Due: addlicense-py, mypy-local

fix: honor explicit IPC names
  kvcached/utils.py
  tests/test_ipc_name.py
Due: addlicense-py, mypy-local

fix(vllm): floor max cached blocks at 1 for sub-block-size budgets
  kvcached/integration/vllm/patches.py
  tests/test_get_max_cached_blocks.py
Due: addlicense-py, mypy-local

fix: make ftensor page mapping idempotent
  csrc/ftensor.cpp
Due: addlicense-cpp-like
