Repository ovg-project/kvcached: changes, and which pre-commit hooks are due for each by the changed paths.
All: addlicense-cpp-like, addlicense-py, mypy-local

addlicense-cpp-like:
  name: Add SPDX headers (C/C++/CUDA/IPP)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

addlicense-py:
  name: Add SPDX headers (Python)
  language: system
  entry: tools/addlicense.sh
  pass_filenames: true

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  pass_filenames: false
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

[Fix]: type casting in get_avail_physical_pages to ensure return an integer rather than a float
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

avoid IPC name collision
  kvcached/utils.py
Due: addlicense-py, mypy-local

Update README to remove KVCACHED_IPC_NAME
  README.md
Due: none

[Fix]: more precise vllm version detection
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

export missing autopatch env
  benchmarks/bench_kvcached_overhead/start_server.sh
  benchmarks/bench_latency_benefit/bench-config.yaml
  benchmarks/bench_latency_benefit/start_vllm_server.sh
  benchmarks/simple_bench/start_server.sh
  controller/example-config.yaml
  docker/README.md
  examples/01_simple_two_models/README.md
  examples/01_simple_two_models/start_two_models.sh
  examples/04_inference_and_finetune/README.md
  examples/04_inference_and_finetune/start_llm_server.sh
  examples/05_multi_agents/start_multi_agent_models.sh
  examples/07_inference_and_diffusion/start_llm_server.sh
  tests/test_offline_serving.py
Due: addlicense-py, mypy-local

Update README with kvcached usage notes
  README.md
Due: none

fix pre-commit
  README.md
Due: none

fix: Remove redundant alignment code
  csrc/allocator.cpp
Due: addlicense-cpp-like

Fix non_contiguous_layout mismatches for both sglang and vllm
  csrc/allocator.cpp
  kvcached/integration/sglang/interfaces.py
Due: addlicense-cpp-like, addlicense-py, mypy-local

Fixed version for issue #106
  kvcached/integration/sglang/interfaces.py
Due: addlicense-py, mypy-local

Fix _contiguous_layout in vllm
  kvcached/integration/sglang/interfaces.py
Due: addlicense-py, mypy-local

support clear() function
  kvcached/integration/sglang/interfaces.py
  kvcached/kv_cache_manager.py
Due: addlicense-py, mypy-local

Fix 'kvcached::generic_ptr_t' {aka 'void*'} and 'size_t' {aka 'long unsigned int'} to binary 'operator%'
  csrc/ftensor.cpp
Due: addlicense-cpp-like

Fix
  csrc/ftensor.cpp
Due: addlicense-cpp-like

Format
  csrc/ftensor.cpp
Due: addlicense-cpp-like

Add max-num-batched-tokens control
  .claude/settings.local.json
  benchmarks/bench_latency_benefit/bench-config.yaml
  benchmarks/bench_latency_benefit/start_vllm_server.sh
Due: none

Fix Lint
  csrc/ftensor.cpp
Due: addlicense-cpp-like

working on issue-197
  benchmarks/bench_latency_benefit/run.sh
  benchmarks/bench_latency_benefit/run_benchmark_fixed_rate.sh
Due: none

Remove .claude and ignore it
  .claude/settings.local.json
Due: none

try with llama3-8B
  benchmarks/bench_latency_benefit/bench-config.yaml
Due: none

adjust config to the issue
  benchmarks/bench_latency_benefit/bench-config.yaml
  benchmarks/bench_latency_benefit/run.sh
  benchmarks/bench_latency_benefit/run_benchmark_fixed_rate.sh
Due: none

Update multi_agent_example.py
  examples/05_multi_agents/multi_agent_example.py
Due: addlicense-py, mypy-local

Correct the previous CI errors
  examples/05_multi_agents/multi_agent_example.py
Due: addlicense-py, mypy-local

fix [integration/vllm]: log warnings instead of raise errors when prefix-cache-related APIs are called. This is because vLLM may still call them even when prefix cache is not enabled
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

fix [pre-commit-hooks]: Update v4.6.0 to v6.0.0 in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

refactor [integration/vllm]: revise logger; consolidate prefix cache warning logging into a single variable for improved maintainability
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

refactor [integration/vllm]: enhance type hinting for KVCacheBlock and KVCacheEvent, improving type checking and code clarity
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

chore: create mypy-strict.sh script to run mypy with CI-level strictness for type checking
  tools/mypy-strict.sh
Due: none

feat [KVCacheManager]: support clear() with some code refactor
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

nits
  kvcached/kv_cache_manager.py
  kvcached/page_allocator.py
Due: addlicense-py, mypy-local

[Fix] Support flashinfer kvcache shape for vLLM
  kvcached/integration/vllm/interfaces.py
  kvcached/integration/vllm/patches.py
Due: addlicense-py, mypy-local

feat: add example for hybrid attention models
  examples/08_hybrid_attention_models/README.md
  examples/08_hybrid_attention_models/send_requests.sh
  examples/08_hybrid_attention_models/start_two_models.sh
Due: none

fix: unique IPC socket when TP is enabled
  kvcached/tp_ipc_util.py
Due: addlicense-py, mypy-local

doc: add deepwiki to readme
  README.md
Due: none

fix readme
  examples/08_hybrid_attention_models/README.md
Due: none

Path conditions:
  addlicense-cpp-like: any of: \.(c|cc|cpp|h|hpp|cu|cuh|ipp)$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  addlicense-py: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
  mypy-local: any of: \.py$, but not: ^engine_integration/(vllm|sglang)(-[^/]+)?/.*|sglang-kvcached-venv|vllm-kvcached-venv
